{:objects
 {
  :Album_cfg
  {:description "album details"
   :fields      {:active {:type Boolean}
                 :pvt    {:type Boolean}
                 :title  {:type String}}}

  :Task
  {:description "task details for entry."
   :fields      {:estimate_m    {:type Int}
                 :points        {:type Int}
                 :done          {:type Boolean}
                 :closed        {:type Boolean}
                 :closed_ts     {:type String}
                 :on_hold       {:type Boolean}
                 :priority      {:type String}
                 :completion_ts {:type String}}}

  :Habit1
  {:description "habit details"
   :fields      {:points   {:type Int}
                 :penalty  {:type Int}
                 :priority {:type String}}}

  :GitAuthor
  {:description "git abbreviated-parent details"
   :fields      {:name  {:type String}
                 :email {:type String}
                 :date  {:type String}}}

  :GitCommit
  {:description "git commit details"
   :fields      {:abbreviated_parent {:type String}
                 :tree               {:type String}
                 :parent             {:type String}
                 :author             {:type :GitAuthor}
                 :refs               {:type String}
                 :repo_name          {:type String}
                 :abbreviated_tree   {:type String}
                 :commit             {:type String}
                 :abbreviated_commit {:type String}
                 :subject            {:type String}}}

  :Vclock
  {:description "habit details"
   :fields      {:node  {:type ID}
                 :clock {:type Int}}}

  :Artist
  {:description "An artist from spotify"
   :fields      {:id   {:type String}
                 :name {:type String}
                 :uri  {:type String}}}
  :Spotify
  {:description "A spotify listen event"
   :fields      {:id        {:type String}
                 :name      {:type String}
                 :image     {:type String}
                 :uri       {:type String}
                 :album_uri {:type String}
                 :artists   {:type (list :Artist)}}}

  :Reward
  {:fields {:points     {:type Int}
            :claimed    {:type Boolean}
            :claimed_ts {:type ID}}}

  :Problem_cfg
  {:description "Config of a problem"
   :fields      {:name   {:type String}
                 :pvt    {:type Boolean}
                 :active {:type Boolean}}}

  :Entry
  {:description "A journal entry"
   :fields      {:timestamp           {:type (non-null ID)}
                 :adjusted_ts         {:type ID}
                 :last_saved          {:type ID}
                 :comment_for         {:type ID}
                 :primary_story       {:type ID}
                 :md                  {:type String}
                 :text                {:type String}
                 :tags                {:type (list String)}
                 :perm_tags           {:type (list String)}
                 :mentions            {:type (list String)}
                 :img_file            {:type String}
                 :img_rel_path        {:type String}
                 :audio_file          {:type String}
                 :entry_type          {:type String}
                 :for_day             {:type String}
                 :story               {:type :Story}
                 :linked_saga         {:type ID}
                 :story_name          {:type String}
                 :saga_name           {:type String}
                 :problem_cfg         {:type :Problem_cfg}
                 :saga_cfg            {:type :Saga}
                 :story_cfg           {:type :Story}
                 :habit               {:type String}
                 :reward              {:type :Reward}
                 :git_commit          {:type :GitCommit}
                 :custom_fields       {:type String}
                 :questionnaires      {:type String}
                 :vclock              {:type (list :Vclock)}
                 :custom_field_cfg    {:type String}
                 :album_cfg           {:type :Album_cfg}
                 :dashboard_cfg       {:type String}
                 :latitude            {:type Float}
                 :longitude           {:type Float}
                 :starred             {:type Boolean}
                 :hidden              {:type Boolean}
                 :completed_time      {:type Int}
                 :spotify             {:type :Spotify}
                 :linked_cnt          {:type Int}
                 :stars               {:type Int}
                 :arrival_timestamp   {:type Float}
                 :departure_timestamp {:type Float}
                 :linked              {:type (list :Entry)}
                 :comments            {:type (list :Entry)}
                 :task                {:type :Task}}}

  :Saga
  {:description "A saga"
   :fields      {:timestamp {:type (non-null ID)}
                 :vclock    {:type (list :Vclock)}
                 :text      {:type String}
                 :pvt       {:type Boolean}
                 :active    {:type Boolean}
                 :saga_name {:type String}}}

  :Story
  {:description "A story"
   :fields      {:timestamp   {:type (non-null ID)}
                 :story_name  {:type String}
                 :text        {:type String}
                 :font_color  {:type String}
                 :badge_color {:type String}
                 :pvt         {:type Boolean}
                 :active      {:type Boolean}
                 :vclock      {:type (list :Vclock)}
                 :saga        {:type        :Saga
                               :description "Saga that the story belongs to."}}}

  :Briefing
  {:description "A briefing (plan for a specific day)"
   :fields      {:timestamp {:type (non-null ID)}
                 :day       {:type String}
                 :vclock    {:type (list :Vclock)}
                 :linked    {:type (list :Entry)}
                 :comments  {:type (list :Entry)}}}

  :QuestionnaireItem
  {:description "An aggregration for a filled out questionnaire."
   :fields      {:timestamp   {:type (non-null ID)}
                 :adjusted_ts {:type ID}
                 :date_string {:type String}
                 :starred     {:type Boolean}
                 :score       {:type Int}
                 :tag         {:type String}
                 :agg         {:type String}
                 :label       {:type String}}}

  :LoggedCalItem
  {:description "Logged time item."
   :fields      {:timestamp   {:type (non-null ID)}
                 :adjusted_ts {:type ID}
                 :md          {:type String}
                 :text        {:type String}
                 :comment_for {:type ID}
                 :parent      {:type :Entry}
                 :completed   {:type        Int
                               :description "Completed time in seconds"}
                 :manual      {:type        Int
                               :description "Manually logged time in seconds"}
                 :summed      {:type        Int
                               :description "Summed time in seconds"}
                 :story       {:type :Story}}}

  :CustomFieldTsVal
  {:description "Custom field stats item."
   :fields      {:ts {:type (non-null ID)}
                 :v  {:type Float}}}

  :CustomFieldItem
  {:description "Custom field stats item."
   :fields      {:field  {:type (non-null String)}
                 :value  {:type Float}
                 :values {:type (list :CustomFieldTsVal)}}}

  :CustomFieldStatsItem
  {:description "Custom field stats item."
   :fields      {:date_string {:type (non-null String)}
                 :tag         {:type String}
                 :fields      {:type (list :CustomFieldItem)}}}

  :UsageStatsItem
  {:description "Usage stats item."
   :fields      {:id_hash      {:type String}
                 :entries      {:type Int}
                 :hours_logged {:type Float}
                 :tasks        {:type Int}
                 :tasks_done   {:type Int}
                 :habits       {:type Int}
                 :stories      {:type Int}
                 :sagas        {:type Int}
                 :words        {:type Int}
                 :hashtags     {:type Int}
                 :dur          {:type Int}
                 :os           {:type String}
                 :geohashes    {:type (list String)}}}

  :BloodPressureStatsItem
  {:description "Blood Pressure item."
   :fields      {:timestamp    {:type (non-null ID)}
                 :adjusted_ts  {:type ID}
                 :bp_systolic  {:type Float}
                 :bp_diastolic {:type Float}}}

  :GitStatsItem
  {:description "Custom field stats item."
   :fields      {:date_string {:type (non-null String)}
                 :commits     {:type Int}}}

  :LoggedByStory
  {:description "Logged time by story."
   :fields      {:logged {:type        Int
                          :description "Logged time in seconds"}
                 :story  {:type :Story}}}

  :LoggedBySaga
  {:description "Logged time by story."
   :fields      {:logged {:type        Int
                          :description "Logged time in seconds"}
                 :saga   {:type :Saga}}}

  :AwardPointItem
  {:description "Custom field stats item."
   :fields      {:date_string {:type (non-null String)}
                 :task        {:type Int}
                 :habit       {:type Int}}}

  :AwardPoints
  {:description "Award points result"
   :fields      {:total   {:type Int}
                 :claimed {:type Int}
                 :by_day  {:type (list :AwardPointItem)}}}

  :HabitCriterion
  {:description "Habit success for single criterion"
   :fields      {:success {:type Boolean}
                 :idx     {:type Int}
                 :v       {:type Float}}}

  :HabitCriteria
  {:description "Habit success for criteria"
   :fields      {:success    {:type Boolean}
                 :day        {:type String}
                 :habit_ts   {:type ID}
                 :habit_text {:type String}
                 :values     {:type (list :HabitCriterion)}}}

  :HabitSuccess
  {:description "Single habit status for day."
   :fields      {:habit_entry {:type :Entry}
                 :completed   {:type (list :HabitCriteria)}}}

  :DayStats
  {:description "Logged time for specified day."
   :fields      {:day              {:type (non-null String)}
                 :by_ts            {:type (list :LoggedCalItem)}
                 :by_ts_cal        {:type (list :LoggedCalItem)}
                 :by_story         {:type (list :LoggedByStory)}
                 :by_saga          {:type (list :LoggedBySaga)}
                 :word_count       {:type Int}
                 :entry_count      {:type Int}
                 :tasks_cnt        {:type Int}
                 :done_tasks_cnt   {:type Int}
                 :closed_tasks_cnt {:type Int}
                 :total_time       {:type        (non-null Int)
                                    :description "Logged time in seconds"}}}}

 :queries
 {:entry_count
  {:type        Int
   :description "Number of entries."
   :args        {:prio {:type Int}}
   :resolve     :query/entry-count}

  :hours_logged
  {:type        Int
   :description "Hours logged."
   :args        {:prio {:type Int}}
   :resolve     :query/hours-logged}

  :started_tasks
  {:type        (list :Entry)
   :description "List of started tasks."
   :args        {:pvt     {:type Boolean}
                 :prio    {:type Int}
                 :on_hold {:type Boolean}}
   :resolve     :query/started-tasks}

  :open_tasks
  {:type        (list :Entry)
   :description "List of open tasks."
   :args        {:pvt  {:type Boolean}
                 :prio {:type Int}}
   :resolve     :query/open-tasks}

  :waiting_habits
  {:type        (list :Entry)
   :description "List of waiting habits."
   :args        {:pvt  {:type Boolean}
                 :prio {:type Int}}
   :resolve     :query/waiting-habits}

  :word_count
  {:type        Int
   :description "Word count."
   :args        {:prio {:type Int}}
   :resolve     :query/word-count}

  :tag_count
  {:type        Int
   :description "Tag count."
   :args        {:prio {:type Int}}
   :resolve     :query/tag-count}

  :mention_count
  {:type        Int
   :description "People count."
   :args        {:prio {:type Int}}
   :resolve     :query/mention-count}

  :completed_count
  {:type        Int
   :description "Completed tasks count."
   :args        {:prio {:type Int}}
   :resolve     :query/completed-count}

  :active_threads
  {:type        Int
   :description "Number of currently active threads."
   :resolve     :query/active-threads}

  :pid
  {:type        Int
   :description "PID of the backend process."
   :resolve     :query/pid}

  :match_count
  {:type        Int
   :description "Result count for given query."
   :args        {:query {:type String}
                 :prio  {:type Int}}
   :resolve     :query/match-count}

  :tab_search
  {:type        (list :Entry)
   :description "List of entries for given query."
   :args        {:query       {:type String}
                 :n           {:type Int}
                 :from        {:type String}
                 :to          {:type String}
                 :prio        {:type Int}
                 :story       {:type ID}
                 :tab         {:type String}
                 :pvt         {:type Boolean}
                 :starred     {:type Boolean}
                 :flagged     {:type Boolean}
                 :incremental {:type Boolean}}
   :resolve     :query/tab-search}

  :entry_by_ts
  {:type        :Entry
   :description "Entry for given timestamp."
   :args        {:ts {:type ID}}
   :resolve     :query/entry-by-ts}

  :hashtags
  {:type        (list String)
   :args        {:prio {:type Int}}
   :description "List of all hashtags."
   :resolve     :query/hashtags}

  :pvt_hashtags
  {:type        (list String)
   :description "List of all private hashtags."
   :args        {:prio {:type Int}}
   :resolve     :query/pvt-hashtags}

  :mentions
  {:type        (list String)
   :description "List of all mentions."
   :args        {:prio {:type Int}}
   :resolve     :query/mentions}

  :stories
  {:type        (list :Story)
   :description "List of all existing stories."
   :args        {:prio {:type Int}}
   :resolve     :query/stories}

  :sagas
  {:type        (list :Saga)
   :description "List of all existing sagas."
   :args        {:prio {:type Int}}
   :resolve     :query/sagas}

  :briefing
  {:type        :Briefing
   :description "Briefing for specified day."
   :args        {:day  {:type String}
                 :prio {:type Int}}
   :resolve     :query/briefing}

  :custom_field_stats
  {:type        (list :CustomFieldStatsItem)
   :description "Custom field stats for tag and number of days"
   :args        {:days   {:type Int}
                 :offset {:type Int}
                 :tag    {:type String}
                 :prio   {:type Int}}
   :resolve     :query/custom-field-stats}

  :custom_field_stats_by_day
  {:type        :CustomFieldStatsItem
   :description "Custom field stats for tag and day"
   :args        {:day  {:type String}
                 :tag  {:type String}
                 :prio {:type Int}}
   :resolve     :query/custom-field-stats-by-day}

  :custom_fields_by_days
  {:type        (list :CustomFieldStatsItem)
   :description "Custom field stats for tag and day"
   :args        {:day_strings {:type (list String)}
                 :tags        {:type (list String)}
                 :prio        {:type Int}}
   :resolve     :query/custom-fields-by-days}

  :usage_by_day
  {:type        :UsageStatsItem
   :description "Usage stats by day"
   :args        {:geohash_precision {:type Int}}
   :resolve     :query/usage-by-day}

  :bp_field_stats
  {:type        (list :BloodPressureStatsItem)
   :description "Blood Pressure for number of days"
   :args        {:days   {:type Int}
                 :offset {:type Int}
                 :prio   {:type Int}}
   :resolve     :query/bp-field-stats}

  :git_stats
  {:type        (list :GitStatsItem)
   :description "Git commit stats for number of days"
   :args        {:days   {:type Int}
                 :offset {:type Int}
                 :prio   {:type Int}}
   :resolve     :query/git-stats}

  :questionnaires
  {:type        (list :QuestionnaireItem)
   :description "filled out questionnaires"
   :args        {:tag    {:type String}
                 :days   {:type Int}
                 :offset {:type Int}
                 :k      {:type String}
                 :prio   {:type Int}}
   :resolve     :query/questionnaires}

  :questionnaires_by_days
  {:type        (list :QuestionnaireItem)
   :description "filled out questionnaires for array of date strings"
   :args        {:tag         {:type String}
                 :day_strings {:type (list String)}
                 :k           {:type String}
                 :prio        {:type Int}}
   :resolve     :query/questionnaires-by-days}

  :award_points
  {:type        :AwardPoints
   :description "award points"
   :args        {:days   {:type Int}
                 :offset {:type Int}
                 :prio   {:type Int}}
   :resolve     :query/award-points}

  :briefings
  {:type        (list :Briefing)
   :description "List of all existing briefings."
   :args        {:prio {:type Int}}
   :resolve     :query/briefings}

  :habits_success
  {:type    (list :HabitSuccess)
   :args    {:days   {:type Int}
             :offset {:type Int}
             :prio   {:type Int}
             :pvt    {:type Boolean}}
   :resolve :query/habits-success}

  :habits_success_by_day
  {:type    (list :HabitCriteria)
   :args    {:day_strings {:type (list String)}
             :prio        {:type Int}
             :pvt         {:type Boolean}}
   :resolve :query/habits-success-by-day}

  :logged_time
  {:type    :DayStats
   :args    {:day  {:type String}
             :prio {:type Int}}
   :resolve :query/logged-time}

  :day_stats
  {:type    (list :DayStats)
   :args    {:days {:type (non-null Int)}
             :prio {:type Int}}
   :resolve :query/day-stats}

  }
 }
