data/.gitignore
data/import
data/geo-import/
data/
playground-data/
test-data/
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.idea
*.iml
*.log
*.lock
.DS_Store
.shadow-cljs

resources/public/css/meins.css
resources/public/css/loader.css
*.pid
*.out
*.zip

.sass-cache/
figwheel_server.log
out/
test2junit/

bak/
bin/
codox/

docs/build

log/

blink1-tool
node_modules/
yarn.lock
package-lock.json

prod/
dist/
.shadow-cljs/
__pycache__/

SPOTIFY_SECRET

.clj-kondo/.cache/
