data/*.edn
data/.gitignore
data/images
data/audio
data/videos
data/daily-logs
data/trash
data/tiles
data/import
data/geo-import/
data/
test-data/
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.idea
*.iml
.DS_Store

resources/public/
*.pid
*.out
*.zip

.sass-cache/
figwheel_server.log
out/
test2junit/
packages/

bin/
codox/

data2/

blink1-tool
node_modules/
yarn.lock
package-lock.json

prod/
dist/
