{:dependencies [[camel-snake-kebab "0.4.0"]
                [cljs-bean "1.5.0"]
                [cljsjs/moment "2.24.0-0"]
                [com.cognitect/transit-cljs "0.8.256"]
                [com.taoensso/timbre "4.10.0" :exclusions [io.aviso/pretty]]
                [enlive "1.1.6"]
                [hiccup "1.0.5"]
                [markdown-clj "1.10.0"]
                [matthiasn/systems-toolbox "0.6.40"]
                [matthiasn/systems-toolbox-electron "0.6.29"]
                [matthiasn/systems-toolbox-sente "0.6.32"]
                [org.clojure/data.avl "0.1.0"]
                [org.clojure/tools.reader "1.3.2"]
                [progrock "0.1.2"]
                [re-frame "0.11.0-rc1"]
                [reagent "0.9.0-rc2"]
                [ring/ring-core "1.7.1"]
                [secretary "1.2.3"]
                [vincit/venia "0.2.5"]]

 :source-paths ["src/cljc" "src/cljs" "src/js" "src/test"]

 :nrepl        {:port 8230}

 :builds       {:main
                {:target           :node-script
                 :output-dir       "prod/main-shadow"
                 :output-to        "prod/main-shadow/main.js"
                 :js-options       {:js-provider          :shadow
                                    :keep-native-requires true
                                    :keep-as-require      #{"electron" "keytar"}}
                 :compiler-options {:optimizations      :simple
                                    :output-feature-set :es-next}
                 :main             meins.electron.main.core/init}

                :shared-tests
                {:target    :node-test
                 :output-to "out/shared-tests.js"}

                :renderer
                {:target     :browser
                 :output-dir "target/renderer-shadow"
                 :modules    {:main {:init-fn meins.electron.renderer.core/main}}
                 :js-options {:js-provider :require}
                 :release    {:compiler-options {:optimizations      :simple
                                                 :output-feature-set :es-next}
                              :output-dir       "prod/renderer-shadow"
                              :js-options       {:js-provider          :shadow
                                                 :keep-native-requires true
                                                 :keep-as-require      #{"cldr-data" "electron"}}}
                 :devtools   {:use-document-host false
                              :loader-mode       :eval
                              :ignore-warnings   true
                              :watch-dir         "resources"
                              :autoload          true}}}}
