@import "../variables";

.config {
  background-color: $cfg-bg;
  display: flex;
  font-family: Montserrat;

  th {
    user-select: none;
  }

  .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 37px;
    width: 100%;
  }

  h2 {
    color: #fff;
    flex: 2;
    font-family: Montserrat;
    font-size: $font-size-meins-header;
    font-weight: 600;
    letter-spacing: 0.02px;
    line-height: 24px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 18px;
  }

  .assistant {
    color: #fff;
    margin-bottom: 40px;

    .tag {
      background-color: $hashtag-blue;
      border-radius: $entry-border-radius;
      cursor: pointer;
      font-weight: bold;
      margin: 0 4px 2px 0;
      padding: 2px 4px;
    }
  }

  table {
    border: 1px solid #4a546e;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    box-sizing: border-box;
    color: $font-color;
    line-height: 22px;
    margin-bottom: 20px;

    tr {
      cursor: pointer;

      &:hover {
        &:not(:first-child) {
          background-color: rgba(74, 84, 110, .2);
        }
      }

      &.active {
        background-color: rgba(74, 84, 110, .4);
        color: #fff;
      }

      td {
        &.c {
          text-align: center;
        }

        &:last-child {
          padding-right: 8px;
        }
      }

      th:first-child {
        border-top-left-radius: 10px;
      }

      th:last-child {
        border-top-right-radius: 10px;
        padding-right: 8px;
      }

      &:last-child {

        td:first-child {
          border-bottom-left-radius: 10px;
        }

        td:last-child {
          border-bottom-right-radius: 10px;
        }
      }
    }

    .completion {
      text-align: left;
    }

    &.sagas-stories, &.habit_cfg {
      font-size: $font-size-medium;

      tr {
        border-top: 1px solid #4a546e;
        height: 52px;

        &:first-child {
          th:first-child {
            border-top-left-radius: 10px;
          }

          th:last-child {
            border-top-right-radius: 10px;
          }
        }

        &:last-child {
          td:first-child {
            border-bottom-left-radius: 10px;
          }

          td:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }

      th {
        background-color: rgba(74, 84, 110, .2);;
        color: rgba(255, 255, 255, 0.31);
        font-weight: 600;
        text-align: center;
      }

      th, td {
        padding-left: 8px;

        &:first-child {
          padding-left: 24px;
        }

        &:last-child {
          padding-right: 24px;
        }
      }

      td {
        color: #fff;
        padding-left: 24px;
      }

      .fa-toggle-on {
        color: $green;
      }

      .fa-toggle-off {
        color: #aaa;
      }

    }
  }

  .stories,
  .sagas,
  .habits {
    overflow-y: scroll;
    width: auto;

    i {
      font-size: $font-size-large;
    }
  }

  .dashboards-cfg {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: auto;
    width: 100%;

    .dashboards {
      flex: 1;
    }

    .dashboard {
      border-top: $tab-bg 4px solid;
      z-index: 111;
    }
  }

  .habit-cfg-row {
    display: flex;
    flex: 1;
    overflow: hidden;

    .journal {
      min-width: 320px;
    }
  }

  .custom-fields, .habits {
    padding-right: 16px;
  }

  .tile-tabs {
    background-color: $cfg-bg;
    margin-left: 4px;
    margin-top: 12px;
    width: 380px;
  }

  .menu {
    background-color: #1d212f;
    height: 100%;
    max-width: 311px;
    min-width: 311px;
    z-index: 11;

    h1 {
      color: #fff;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.02px;
      line-height: 29px;
      margin: 0;
      padding-bottom: 25px;
      padding-left: 35px;
      padding-top: 30px;
    }

    .items {
      border: 1px solid #4a546e;
      border-radius: 10px;
      margin-left: 34.5px;
      margin-right: 47.5px;
      padding: 0;
      width: 230px;
    }

    .menu-item {
      color: rgba(255, 255, 255, .68);
      cursor: pointer;
      font-family: Montserrat;
      font-size: $font-size-large;
      line-height: 19px;
      padding: 12px 12px 9px 26px;

      &:hover, &.highlight {
        background-color: rgba(74, 84, 110, .1);;
      }

      &.active {
        background-color: rgba(74, 84, 110, .3);;
        color: #fff;
        font-weight: 600;
      }

      &.exit {
        font-weight: bold;
      }
    }
  }

  .photos {
    button {
      margin-top: 10px;
    }
  }

  .metrics {
    color: #ddd;
    display: flex;
    flex-flow: column;

    table {
      margin-top: 20px;
      padding: 5px;
      text-align: right;
      width: auto;

      td, th {
        padding: 0 7px;
      }

      .data {
        font-family: monospace;
      }
    }

    .btn {
      background-color: $green;
      border-radius: $entry-border-radius;
      font-size: $font-size-large;
      margin: 10px;
      padding: 10px 20px;
      text-align: center;
      width: 100px;
    }

    pre {
      background-color: #fff;
      height: auto;
      margin-left: 20px;
      overflow-y: scroll;
    }
  }

  input {
    border: 0;
    border-radius: $entry-border-radius;
    outline: none;
    padding: 4px 8px;
  }

  .col {
    display: flex;
    flex-direction: column;
    padding-left: 46px;
    padding-top: 46px;
  }

  .cfg-items {
    flex: 1;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;

    .story {
      color: #666;
      font-size: $font-size-small;
      padding-bottom: 5px;
    }
  }

  .custom-field {
    background-color: #fafafa;
    border-radius: 2px;
    cursor: pointer;
    flex: 1;
    margin: 0 6px 5px 0;
    padding: 6px 15px;
    user-select: none;

    h3 {
      margin: 2px 0;

      &:hover {
        color: $link-color;
      }
    }

    ul {
      margin: 5px 0;
      padding: 0 0 0 15px;
    }

    &.active {
      background-color: #caffdf;
    }
  }

  .add {
    border: 1.12px solid #1d212f;
    border-radius: 18px;
    color: #8e8e93;
    font-size: $font-size-large;
    height: 37px;
    margin-left: 17px;
    text-align: center;
    width: 45px;

    .fa-plus {
      padding-top: 9px;
    }

    &:hover {
      background-color: $green;
    }
  }

  .input-line {
    font-size: $font-size-large;

    .search {
      background-color: $cfg-bg;
      border-radius: $entry-border-radius;
      display: inline-block;
      margin-left: 16px;
      margin-right: 10px;
      padding: 0;

      .fa-search {
        color: #8e8e93;
        padding-left: 15px;
        padding-top: 11px;
        position: absolute;
      }
    }

    input {
      background-color: $cfg-bg;
      border: 1.12px solid #1d212f;
      border-radius: 18px;
      box-shadow: none;
      color: #8e8e93;
      font-size: $font-size-medium;
      font-weight: bold;
      padding-bottom: 7.5px;
      padding-left: 42px;
      padding-top: 7.5px;
      width: 200px;
    }
  }

  .detail {
    background-color: #fafafa;
    flex: 1;
    margin-right: 5px;
    padding: 5px;

    label {
      display: inline-block;
      width: 80px;
    }

    .warn {
      color: #f00;

      .fa {
        padding: 0 3px 0 6px;
      }
    }

    h1 {
      margin-left: 10px;
    }

    .field {
      background-color: #f1f1f1;
      border-radius: $entry-border-radius;
      line-height: 2em;
      margin-top: 5px;
      padding: 5px 10px;

      .row {
        margin: 10px 0;
      }
    }

    .story-line {
      padding: 5px 10px;
    }
  }

  .save {
    margin-bottom: 1em;

    .not-saved, .cancel {
      display: inline-block;
      padding: 3px 8px;
    }

    .cancel {
      margin-left: 1em;
    }
  }

  .third-col {
    flex: 1;
  }
}

.usage {
  overflow-y: auto;

  .view {
    .leaflet {
      height: 250px;
      margin-bottom: 20px;
      width: 500px;
    }

    tr {
      background-color: transparent;
      color: #fff;
      font-weight: 400;

      td {
        padding-right: 20px;
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }

  padding: 20px;
}
