@import "../variables";

.config {
  display: flex;
  background-color: $cfg-bg;
  font-family: Montserrat;

  th {
    user-select: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 37px;
    width: 100%;
    justify-content: space-between;
  }

  h2 {
    flex: 2;
    margin-top: 18px;
    font-size: $font-size-meins-header;
    font-family: Montserrat;
    margin-block-start: 0;
    margin-block-end: 0;
    letter-spacing: 0.02px;
    line-height: 24px;
    color: white;
    font-weight: 600;
  }

  .assistant {
    color: white;
    margin-bottom: 40px;

    .tag {
      background-color: $hashtag-blue;
      padding: 2px 4px;
      margin: 0 4px 2px 0;
      border-radius: $entry-border-radius;
      font-weight: bold;
      cursor: pointer;
    }
  }

  table {
    color: $font-color;
    line-height: 22px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #4A546E;
    border-collapse:separate;
    border-spacing: 0;
    box-sizing: border-box;

    tr {
      cursor: pointer;

      &:hover {
        &:not(:first-child) {
          background-color: rgba(74,84,110,0.2);
        }
      }
      &.active {
        background-color: rgba(74,84,110,0.4);
        color: white;
      }

      td {
        &.c {
          text-align: center;
        }
        &:last-child {
          padding-right: 8px;
        }
      }

      th:first-child {
        border-top-left-radius: 10px;
      }

      th:last-child {
        border-top-right-radius: 10px;
        padding-right: 8px;
      }

      &:last-child {

        td:first-child {
          border-bottom-left-radius: 10px;
        }

        td:last-child {
          border-bottom-right-radius: 10px;
        }
      }
    }

    .completion {
      text-align: left;
    }

    .title {
    }

    &.sagas-stories, &.habit_cfg {
      font-size: $font-size-medium;

      tr {
        height: 52px;
        border-top: 1px solid #4A546E;

        &:first-child {
          th:first-child {
            border-top-left-radius: 10px;
          }
          th:last-child {
            border-top-right-radius: 10px;
          }
        }

        &:last-child {
          td:first-child {
            border-bottom-left-radius: 10px;
          }
          td:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }

      th {
        background-color: rgba(74,84,110,0.2);
      ;
        color: rgba(255,255,255,0.31);
        text-align: center;
        font-weight: 600;
      }

      th, td {
        padding-left: 8px;

        &:first-child {
          padding-left: 24px;
        }
        &:last-child {
          padding-right: 24px;
        }
      }

      td {
        padding-left: 24px;
        color: white;
      }

      .fa-toggle-on {
        color: $green;
      }
      .fa-toggle-off {
        color: #AAA;
      }

    }
  }

  .stories, .sagas, .habits {
    overflow-y: scroll;
    width: auto;

    i {
      font-size: $font-size-large;
    }
  }

  .dashboards-cfg {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .dashboards {
      flex: 1;
    }
    .dashboard {
      z-index: 111;
      border-top: $tab-bg 4px solid;
    }
  }

  .habit-cfg-row {
    display: flex;
    flex: 1;
    overflow: hidden;

    .journal {
      min-width: 320px;
    }
  }

  .custom-fields, .habits {
    padding-right: 16px;
  }

  .tile-tabs {
    margin-left: 4px;
    margin-top: 12px;
    width: 380px;
    background-color: $cfg-bg;
  }

  .menu {
    background-color: #1D212F;
    height: 100%;
    max-width: 311px;
    min-width: 311px;
    z-index: 11;

    h1 {
      padding-top: 30px;
      padding-bottom: 25px;
      padding-left: 35px;
      font-family: Montserrat;
      letter-spacing: 0.02px;
      line-height: 29px;
      font-weight: 600;
      font-size: 24px;
      margin: 0;
      color: white;
    }

    .items {
      width: 230px;
      margin-left: 34.5px;
      margin-right: 47.5px;
      border: 1px solid #4A546E;
      border-radius: 10px;
      padding: 0;
    }

    .menu-item {
      cursor: pointer;
      font-size: $font-size-large;
      line-height: 19px;
      padding: 12px 12px 9px 26px;
      font-family: Montserrat;
      color: rgba(255,255,255,0.68);;

      &:hover, &.highlight {
        background-color: rgba(74,84,110,0.1);;
      }

      &.active {
        background-color: rgba(74,84,110,0.3);;
        color: white;
        font-weight: 600;
      }

      &.exit {
        font-weight: bold;
      }
    }
  }

  .photos {
    button {
      margin-top: 10px;
    }
  }

  .metrics {
    display: flex;
    flex-flow: column;
    color: #DDD;

    table {
      text-align: right;
      margin-top: 20px;
      width: auto;
      padding: 5px;

      td, th {
        padding: 0 7px;
      }

      .data {
        font-family: monospace;
      }
    }

    .btn {
      padding: 10px 20px;
      width: 100px;
      font-size: $font-size-large;
      text-align: center;
      margin: 10px;
      border-radius: $entry-border-radius;
      background-color: $green;
    }

    pre {
      background-color: white;
      overflow-y: scroll;
      margin-left: 20px;
      height: auto;
    }
  }

  input {
    border: 0;
    outline: none;
    padding: 4px 8px;
    border-radius: $entry-border-radius;
  }

  .col {
    padding-left: 46px;
    padding-top: 46px;
    display: flex;
    flex-direction: column;
  }

  .cfg-items {
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;
    height: 50vh;

    .story {
      font-size: $font-size-small;
      padding-bottom: 5px;
      color: #666;
    }
  }

  .custom-field {
    flex: 1;
    background-color: #fafafa;
    padding: 6px 15px;
    margin: 0 6px 5px 0;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;

    h3 {
      margin: 2px 0;
      &:hover {
        color: $link-color;
      }
    }

    ul {
      padding: 0 0 0 15px;
      margin: 5px 0;
    }

    &.active {
      background-color: #caffdf;
    }
  }

  .add {
    border-radius: 18px;
    color: #8E8E93;
    font-size: $font-size-large;
    border: 1.12px solid #1D212F;
    width: 45px;
    height: 37px;
    text-align: center;
    margin-left: 17px;

    .fa-plus {
      padding-top: 9px;
    }

    &:hover {
      background-color: $green;
    }
  }

  .input-line {
    font-size: $font-size-large;

    .search {
      display: inline-block;
      border-radius: $entry-border-radius;
      padding: 0;
      margin-right: 10px;
      margin-left: 16px;
      background-color: $cfg-bg;

      .fa-search {
        position: absolute;
        padding-top: 11px;
        padding-left: 15px;
        color: #8E8E93;
      }
    }

    input {
      width: 200px;
      color: #8E8E93;
      background-color: $cfg-bg;
      border-radius: 18px;
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      padding-left: 42px;
      font-weight: bold;
      font-size: $font-size-medium;
      border: 1.12px solid #1D212F;
      box-shadow: none;
    }
  }

  .detail {
    flex: 1;
    background-color: #FAFAFA;
    padding: 5px;
    margin-right: 5px;

    label {
      display: inline-block;
      width: 80px;
    }

    .warn {
      color: red;

      .fa {
        padding: 0 3px 0 6px;
      }
    }

    h1 {
      margin-left: 10px;
    }

    .field {
      margin-top: 5px;
      padding: 5px 10px;
      background-color: #f1f1f1;
      line-height: 2em;
      border-radius: $entry-border-radius;

      .row {
        margin: 10px 0;
      }
    }
    .story-line {
      padding: 5px 10px;
    }
  }

  .save {
    margin-bottom: 1em;

    .not-saved, .cancel {
      display: inline-block;
      padding: 3px 8px;
    }

    .cancel {
      margin-left: 1em;
    }
  }

  .third-col {
    flex: 1;
  }
}

.usage {
  padding: 20px;

  .view {
    .leaflet {
      width: 500px;
      height: 250px;
      margin-bottom: 20px;
    }

    tr {
      background-color: transparent;
      color: white;
      font-weight: 400;

      td {
        padding-right: 20px;
      }
      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }

  overflow-y: auto;
}
