* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
* -- BASE STYLES --
* Most of these are inherited from Base, but I want to change a few.
*/
body {
    color: #576364;
    background-color: #f9f9fa;
    font-size: 13px;
    font-weight: 300;
    overflow-y:scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
    font-weight: 400;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
* -- LAYOUT STYLES --
* These are some useful classes which I will need
*/
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 0 1em 0 1em;
}

.is-center {
    text-align: center;
}

/*
* -- PURE FORM STYLES --
* Style the form inputs and labels
*/
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.pure-button-primary {
    background-color: #1f8dd6;
    color: white;
}

/*
* -- MENU STYLES --
* I want to customize how my .pure-menu looks at the top of the page
*/

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.home-menu.pure-menu-open {
    background: #2d3e50;
    z-index: 1001; /* Oddly, Leaflet controls have the z-index fairly high */
}

.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

/*
* -- CONTENT STYLES --
* This represents the content area (everything below the blue section)
*/
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 50px;
    width: 100%;
    min-height: 12%;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    margin: 1em 0 0.5em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

.content {
    padding: 0 1em 0.5em 1em;
}

/*
* -- TABLET (AND UP) MEDIA QUERIES --
* On tablets and other medium-sized devices, we want to customize some
* of the mobile styles.
*/
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }

    /* We increase the height of the splash-container */
    /*    .splash-container {
    height: 500px;
  }*/
    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        /*height: 50%;*/
    }

    .splash-head {
        /*font-size: 250%;*/
    }

    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
* -- DESKTOP (AND UP) MEDIA QUERIES --
* On desktops and other large devices, we want to over-ride some
* of the mobile and tablet styles.
*/
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        /*font-size: 300%;*/
    }
}

.pure-menu-heading {
    text-transform: none !important;
}

textarea {
    width: 100%;
}

.markdown h1:first-child {
    margin-top: 0;
}

.timestamp {
    font-size: 0.6em;
}

.entry p,ul {
    margin-top: 0.3em;
    margin-bottom: 0.7em;
}

.entry h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.3em;
}

.map {
    height: 130px;
    margin-top: 5px;
}

.pure-g [class *="pure-u"] {
    font-family: "Lato";
}

a, a:visited {
    text-decoration: none;
    font-weight: 400;
    color: #006c91;
}

hr {
    height: 1px;
    border: 0;
    background: #BBB;
}

textarea {
    font-family: "Lato";
    font-weight: 300;
    color: #576364;
}

.hashtag {
    margin: 3px 5px 1px 0;
    padding: 1px 5px;
    color: white;
    font-size: 0.8em;
    background-color: rgb(66, 184, 221);
}

.not-tag {
    background-color: rgb(221, 77, 55);
}

.float-left {
    float: left;
}

.not-saved {
    margin-left: 21px;
    padding: 1px 5px;
    color: white;
    font-size: 0.8em;
    background-color: rgb(202, 60, 60);
}

.hashtags {
    overflow-wrap: normal;
}

.entry-footer {
    margin-top: 5px;
}

#new-entry-textbox {
    min-height: 6em;
}

.toggle {
    margin-left: 7px;
}

.inactive {
    color: #AAA;
}

img{
    height: auto;
    width: 100%;
}

.entry-header {
    line-height: 1.4em;
    overflow-wrap: normal;
}

button {
    margin-right: 5px;
    padding: 0.2em 0.5em 0.3em 0.5em !important;
}

.button-xsmall {
    font-size: 70%;
}

.edit-md pre {
    margin: 0.3em 0 0.7em 0;
}

.edit-md pre code {
    font-family: "Lato";
    outline: none;
}

.textentry {
    padding-top: 14px;
}

.suggestions {
    margin-bottom: 0.5em;
    line-height: 1.4em;
}

.mention {
    margin: 3px 5px 1px 0;
    padding: 1px 5px;
    color: white;
    font-size: 0.8em;
    background-color: rgb(55, 201, 154);
}

.show-more {
    padding: 20px 0;
}

.show-more-btn {
    background-color: #1f8dd6;
    color: whitesmoke;
    font-size: 0.8em;
    padding: 1px 5px;
}

.comments {
    margin-left: 20px;
}

.entry {
    background: white;
    padding: 5px;
    margin: 8px 0 4px 0;
    min-height: 60px;
}

.entry .mention-link {
    font-style: italic;
    color: #007d4e;
    font-weight: bold;
}

.comments .entry {
}

video {
    width: 100%;
}