{:objects {}
 :queries {:entry_count     {:type        Int
                             :description "number of entries"
                             :resolve     :query/entry-count}
           :hours_logged    {:type        Int
                             :description "hours logged"
                             :resolve     :query/hours-logged}
           :word_count      {:type        Int
                             :description "word count"
                             :resolve     :query/word-count}
           :tag_count       {:type        Int
                             :description "tag count"
                             :resolve     :query/tag-count}
           :mention_count   {:type        Int
                             :description "people count"
                             :resolve     :query/mention-count}
           :completed_count {:type        Int
                             :description "completed tasks count"
                             :resolve     :query/completed-count}
           :match_count     {:type        Int
                             :description "result count for given query"
                             :args        {:query {:type String}}
                             :resolve     :query/match-count}}}
