@import "../variables";

.sync-cfg {
  background-color: $cfg-bg;
  color: #eee;
  height: 100%;
  overflow-y: auto;
  padding-left: 50px;
  width: 100%;

  .fa-check {
    color: #79c693;
  }

  #qr-video {
    border-radius: 18px;
    height: 360px;
    width: 640px;
  }

  button {
    background-color: #4a546e;
    border-radius: 18px;
    font-weight: lighter;
    outline: 0;

    &:hover {
      background-color: lighten(#4a546e, 5);
      transition: all .4s ease 0s;
    }
  }

  p {
    font-size: 16px;
  }

  .page {
    width: 500px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .welcome {
    color: #eee;
  }

  #sync-cfg-qr {
    svg {
      background-color: #fff;
      border-radius: 18px;
    }
  }

  .scanned {
    color: #fff;
    font-size: $font-size-xs;
  }

  img {
    margin-right: 30px;
    margin-top: 60px;
  }

  .settings {

    input {
      background-color: #4a546e;
      border-radius: 18px;
      border-width: 0;
      color: #eee;
      font-family: monospace;
      font-size: 14px;
      margin: 6px;
      outline: none;
      padding: 6px 12px;
      width: 350px;
    }

    .fas {
      font-size: 2em;
      font-weight: bold;
      padding: 0 20px;
    }

    table {
      margin-top: 20px;

      .btn-check {
        height: 30px
      }

      tr {
        background-color: transparent;
        cursor: default;

        &.spacer {
          height: 20px;
        }

        &.invisible {
          opacity: 0;
        }

        button {
          float: right;
          font-size: 14px;

          &.save {
            background-color: $red;
          }
        }
      }

      td {
        color: #eee;
        font-size: 14px;
        margin-left: 20px;
        text-align: right;

        &.r {
          align-content: flex-end;
        }

        &.success {
          color: #79c693;
        }

        &.fail {
          color: $red;
        }
      }
    }
  }
}
