{:source-paths ["src/cljc" "src/cljs"]

 :dependencies [[reagent "0.8.1"]
                [matthiasn/systems-toolbox "0.6.40"]
                [org.clojure/data.avl "0.1.0"]
                [core-async-storage "0.3.1"]
                [re-frame "0.10.7"]]

 :builds       {:app {:target           :react-native
                      :init-fn          meins.core/init
                      :output-dir       "app"
                      :compiler-options {:elide-asserts   true
                                         :closure-defines {"goog.DEBUG"  false
                                                           "goog.LOCALE" "en"}}
                      :devtools         {:autoload   true
                                         :after-load meins.core/init}
                      :release          {:compiler-options
                                         {:optimizations      :simple
                                          :output-feature-set :es-next}}}}}
