{:health_data   {"platformType" "IOS", "sourceId" "com.withings.wiScaleNG",
                 "runtimeType"  "discreteQuantityData",
                 "value"        0.2,
                 "dateFrom"     "2021-11-28T13:47:02.000",
                 "sourceName"   "Health Mate",
                 "dataType"     "HealthDataType.BODY_FAT_PERCENTAGE",
                 "unit"         "HealthDataUnit.PERCENTAGE",
                 "dateTo"       "2021-11-28T13:47:02.000",
                 "deviceType"   "iPhone13,3",
                 "deviceId"     "some-device-id"},
 :mentions      #{},
 :timezone      "Europe/Berlin",
 :custom_fields {"#body-fat" {:bodyfat 20}},
 :utc-offset    60,
 :perm_tags     #{"#body-fat"},
 :timestamp     1638107222004,
 :text          "Body fat: 20%",
 :md            "Body fat: 20%"}
