{:health_data   {"platformType" "IOS",
                 "sourceId"     "com.withings.wiScaleNG",
                 "runtimeType"  "discreteQuantityData",
                 "value"        120,
                 "dateFrom"     "2021-11-22T11:55:12.000",
                 "sourceName"   "Health Mate",
                 "dataType"     "HealthDataType.BLOOD_PRESSURE_SYSTOLIC",
                 "unit"         "HealthDataUnit.MILLIMETER_OF_MERCURY",
                 "dateTo"       "2021-11-22T11:55:12.000",
                 "deviceType"   "iPhone13,3",
                 "deviceId"     "some-device-id"},
 :mentions      #{},
 :tags          #{"#BP"},
 :timezone      "Europe/Berlin",
 :custom_fields {"#BP" {:bp_systolic 120}},
 :utc-offset    60,
 :perm_tags     #{"#BP"},
 :timestamp     1637582112001,
 :text          "BP: 120 mmHg systolic",
 :md            "BP: 120 mmHg systolic"}
