{:geohash        "u31pzf63c",
 :id             "046858e6-58c0-5194-bde6-8a33dc924f21",
 :latitude       52.0,
 :longitude      13.0,
 :md             "",
 :mentions       #{},
 :questionnaires {:cfq11 {1  0,
                          2  1,
                          3  2,
                          4  3,
                          5  2,
                          6  1,
                          7  0,
                          8  1,
                          9  2,
                          10 3,
                          11 2}},
 :perm_tags      #{"#CFQ11"},
 :tags           #{},
 :text           "",
 :timestamp      1638025294461,
 :timezone       "Europe/Berlin",
 :utc-offset     0,
 :vclock         {"67b16d73-6653-4f5f-be81-bf923a6273c5" 22}}
