{:health_data   {"platformType" "IOS",
                 "sourceId"     "com.apple.health.some-id",
                 "runtimeType"  "discreteQuantityData",
                 "value"        11,
                 "dateFrom"     "2021-11-25T04:34:50.813",
                 "sourceName"   "Some Apple Watch",
                 "dataType"     "HealthDataType.SLEEP_ASLEEP",
                 "unit"         "HealthDataUnit.MINUTES",
                 "dateTo"       "2021-11-25T04:45:50.813",
                 "deviceType"   "iPhone13,3",
                 "deviceId"     "some-device-id"},
 :mentions      #{},
 :tags          #{"#sleep"},
 :timezone      "Europe/Berlin",
 :custom_fields {"#sleep" {:duration 11}},
 :utc-offset    60,
 :perm_tags     #{"#sleep"},
 :primary_story 1479889430353,
 :timestamp     1637815550000,
 :text          "Sleep: 11 min",
 :md            "Sleep: 11 min"}
