.not-saved {
  padding: 1px 5px;
  color: white;
  font-size: 0.8em;
  background-color: rgb(202, 60, 60);
  cursor: pointer;
}

.link-btn {
  margin-left: 15px;
  padding: 1px 5px;
  color: white;
  font-size: 0.8em;
  background-color: $green;
  cursor: pointer;
  white-space: nowrap;
}

button {
  background-color: $green;
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-primary {
  background-color: #0078e7;
}

.show-more-btn {
  background-color: #1f8dd6;
  color: whitesmoke;
  font-size: 0.8em;
  padding: 1px 5px;
}

.delete-warn {
  margin: 0 15px 0 5px;
  padding: 1px 5px;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
  background-color: rgb(202, 60, 60);
}

.show-more {
  padding: 20px 0;
}

a, a:visited {
  text-decoration: none;
  font-weight: 400;
  color: #006c91;
  outline: none!important;
}

.toggle {
  padding: 2px;
  margin-left: 4px;
  cursor: pointer;
}

.fa-thumbs-up, .fa-thumbs-down {
  color: #006C91;
}

.inactive {
  color: #AAA;
}

.hidden-comments {
  color: red;
}

a .toggle {
  color: #576364;
}

.upvotes {
  vertical-align: super;
  color: #006C91;
  font-size: 0.7em;
  line-height: 1.2em;
  font-weight: bold;
  padding: 0 2px 0 1px;
  margin-left: 1px;
  margin-bottom: 3px;
  border: 1px solid #006C91;
  border-radius: 2px;
}

.toggle-cmds {
  margin-right: 30px;
}
