.entry-with-comments {
  margin: 3px 0 3px 0;
  border-color: darken($hashtag-blue, 25%);
  border-style: solid;
  border-width: 1px;
  background: white;
  border-radius: $entry-border-radius;
}

.entry {
  padding: 0.5em 0.8em 0.2em 0.8em;

  .active {
    border-color: green;
    border-style: solid;
    border-width: 2px;
  }

  .more {
    background-color: rgba(230, 230, 230, 0.25);
    padding: 1px 20px;
  }

  pre {
    min-height: 22px;
    margin: 0.3em 0 1em 0;

    code {
      white-space: pre-wrap;
    }
  }

  h1, h2 {
    font-size: 1.2em;
    margin-top: 0.2em;
  }

  .edit-md pre code {
    font-family: "Lato", sans-serif;
    outline: none;
  }

  .edit-md {
    padding-bottom: 5px;
  }

  .entry .mention-link {
    color: #007d4e;
    font-weight: bold;
  }

  .header {
    line-height: 1.4em;
    overflow-wrap: normal;
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
      flex-grow: 1;
      font-size: 0.8em;
    }

    div:nth-child(2) {
      flex-grow: 1;

      .incomplete {
        font-size: 1em;
        color: #999;
      }
      .completed {
        color: $green;
        font-size: 1em;
      }
      .completed-cnt {
        color: $green;
        font-size: 0.8em;
        font-weight: bold;
        padding-right: 0.3em;
      }
      .incomplete-cnt {
        color: #999;
        font-size: 0.8em;
        font-weight: bold;
        padding-right: 0.3em;
      }
      .fa-bolt {
        color: $red;
        font-size: 1em;
      }
      .bolt-cnt {
        color: $red;
        font-size: 0.8em;
        font-weight: bold;
      }
      .dur {
        margin-left: 0.2em;
        margin-right: 0.3em;
        font-size: 0.8em;
        font-weight: bold;
      }
      .fa {
        margin-right: 0.1em;
      }
    }

    div:nth-child(3) {
      flex: 0;
    }

    div:nth-child(4) {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: wrap;
      transition: opacity 0.5s;
    }
  }

  .pomodoro {
    .btn {
      margin-left: 0.5em;
    }
    .start {
      background-color: $green;
    }
    .stop {
      background-color: $red;
    }
  }

  p,ul {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.3em;
  }
}

.comments {
  > .entry {
    padding-left: 20px;
    padding-right: 5px;
  }
  .entry:nth-child(odd) {
    background-color: lighten($hashtag-blue, 40%);
  }
  .entry:last-child {
    border-bottom-right-radius: $entry-border-radius;
    border-bottom-left-radius: $entry-border-radius;
  }
}

.show-comments {
  margin-top: -2px;
  height: 22px;

  span {
    margin-left: 0.8em;
    padding: 1px 5px;
    color: white;
    background-color: lighten(desaturate($hashtag-blue, 35%), 15%);
    cursor: pointer;
    font-size: 0.8em;
  }
}

.markdown h1:first-child {
  margin-top: 0;
}
