.entry-with-comments {
  margin: 3px 5px 3px 0;
  border-color: #1f8dd6;
  border-style: solid;
  border-width: 1px;
}

.entry {
  background: white;
  padding: 5px 5px 2px 5px;

  .active {
    border-color: green;
    border-style: solid;
    border-width: 2px;
  }

  pre {
    min-height: 22px;
    margin: 0.3em 0 1em 0;

    code {
      white-space: pre-wrap;
    }
  }

  h1, h2 {
    font-size: 1.2em;
    margin-top: 0.2em;
  }

  .edit-md pre code {
    font-family: "Lato", sans-serif;
    outline: none;
  }

  .entry .mention-link {
    color: #007d4e;
    font-weight: bold;
  }

  .header {
    line-height: 1.4em;
    overflow-wrap: normal;
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
      flex-grow: 1;
    }

    div:nth-child(2) {
      flex: 0;
    }

    div:nth-child(3) {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: wrap;
    }
  }

  .pomodoro {
    padding-bottom: 0.2rem;

    .dur {
      margin-right: 1rem;
    }

    .start {
      background-color: $green;
    }
    .stop {
      background-color: $red;
    }
  }

  time {
    font-size: 0.6em;
  }

  p,ul {
    margin-top: 0.3em;
    margin-bottom: 0.7em;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.3em;
  }
}

.comments {
  margin-left: 20px;
  > .entry {
    margin-top: 4px;
  }

}

.show-comments {
  margin-top: -2px;
  height: 22px;
  background-color: white;

  span {
    margin-left: 5px;
    padding: 1px 5px;
    color: white;
    background-color: #999;
    cursor: pointer;
    font-size: 0.8em;
  }
}

.markdown h1:first-child {
  margin-top: 0;
}
