@import "variables.scss";

#content {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  min-height: 0;
}

.split-window-container {
  display: flex;
  flex-flow: column;
  min-height: 0;
  padding: 3px;
}

.split-windows-view {
  display: flex;
  flex-flow: row;
  min-height: 0;
}

.split-window-view {
  display: flex;
  flex: 1;
  flex-flow: column;
  flex-basis: 0;
  margin-left: 0.5em;
  background-color: $tab-bg;
  min-height: 0;
}

.split-view {
  width: calc(50% - 170px);
}

.tabs-header {
  display: flex;
  flex: 0 0 auto;
  background-color: $body-background-color;

  .tab-item {
    display: flex;
    background-color: white;
    padding: 0.3em 0.4em;
    margin: 0.4em 2px 0 0;
    cursor: pointer;
    font-size: 0.8em;

    .fa {
      margin-left: 3px;
      color: #AAA;
      cursor: default;
    }
  }

  .active {
    border-bottom: 2px inset $green;
    font-weight: bold;
  }
}

.journal {
  display: flex;
  flex-flow: row;
  padding-left: 0.3em;
  min-height: 0;
}

.journal-entries {
  display: flex;
  flex-flow: column;
  flex: 1;
  flex-basis: 0;
  padding: 0 0 1em 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.new-entries {
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0.6em 25% 0.2em 0.4em;
  max-width: 500px;
}
