@import "variables.scss";

#journal {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  min-height: 0;
}

.tabs-container {
  display: flex;
  flex-flow: column;
}

.tabs-view {
  display: flex;
  flex-flow: row;
}

.tab-view {
  display: flex;
  flex: 1;
  flex-flow: column;
  flex-basis: 0;
  }

.split-view {
  // TODO: fix this hack
  max-width: 50%;
}

.journal {
  display: flex;
  flex-flow: row;
  padding-left: 1em;
}

.journal-entries {
  display: flex;
  flex-flow: column;
  flex: 1;
  flex-basis: 0;
  padding: 0 0.2em 1em 0;
  margin-right: 0.3em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.new-entries {
  flex-flow: column;
  flex-grow: 1;
  margin: 1em 25% 0 1em;
  max-width: 500px;
}
