@import "variables.scss";

#header {
  width: 100%;
  flex: 0 0 auto;
}

.menu-header {
  display: flex;
  z-index: 1004;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  background-color: $menu-bg;
  padding: 0 110px 0 20px;

  img {
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    margin: -4px -4px;
    clip-path: inset(4px 4px 4px 4px);
    -webkit-clip-path: inset(4px 4px 4px 4px);
  }

  h1 {
    color:white;
    font-size: 1.5em;
  }

  button {
    font-size: 0.8em;
    margin-right: 5px;
  }

  .fa {
    font-size: 1.2em;
  }
}
