.new-link-btn {
  position: relative;
  display: inline-block;

  input {
    visibility: visible;
    text-align: center;
    padding: 1px;

    font-family: "Lato", sans-serif !important ;
    font-weight: bold;
    font-size: 0.7em;

    position: absolute;
    z-index: 1002;
    top: 140%;
    width: 140px;
    margin-left: -140px;
  }

}
