@import "variables.scss";

.search {
  padding: 5px 0.5em 5px 0.3em;
  flex-flow: column;
  display: flex;
  flex: 0 0 auto;

  .hashtags {
    height: 20px;
  }
}

.search-field {
  display: flex;
  flex: 0 0 auto;
  margin: 2px 0;
  padding: 4px;
  background-color: $search-field-color;
}
