@import "variables.scss";

.search {
  padding: 5px 1em 0.5em 1em;
  flex-flow: column;
  display: flex;
  flex: 0 0 auto;

  .hashtags {
    height: 20px;
  }
}

.search-field {
  display: flex;
  flex: 0 0 auto;
  margin: 4px 0;
  padding: 4px;
  background-color: $search-field-color;
}
