$completed: steelblue;
$total: lighten($completed, 30);

$completed-weekend: rgb(249,166,53);
$total-weekend: lighten($completed-weekend, 30);

#stats {
  flex: 0 0 auto;
  height: 180px;
  background-color: #eaeaea;
  overflow-y: auto;
  padding: 5px;

  .stats {
    button {
      line-height: 0.8em;
      font-size: 0.8em;
    }

    svg {
      margin: 5px;
      background-color: white;
      width: 300px;

      rect:hover {
        opacity: 0.5;
      }

      .completed {
        fill: $completed;
      }
      .completed-weekend {
          fill: $completed-weekend;
      }
      .total {
        fill: $total;
      }
      .total-weekend {
        fill: $total-weekend;
      }
    }

    .mouse-over-info {
      padding: 5px;
      background-color: white;
      position: fixed;
      top: 100px;
    }
  }
}

