#stats {
  flex: 0 0 auto;
  height: 200px;
  background-color: #eaeaea;
  overflow-y: auto;
  padding: 5px;

  .stats {
    button {
      line-height: 0.8em;
      font-size: 0.8em;
    }

    svg {
      margin: 5px;
      background-color: white;
      width: 350px;
    }
  }
}

