@import "variables.scss";

$chart-bg: white;
$completed: steelblue;
$total: lighten($completed, 30);

$completed-weekend: rgb(249,166,53);
$total-weekend: lighten($completed-weekend, 30);

$done: rgb(50,159,50);
$done-weekend: lighten($done, 30);

$tasks: rgb(188,30,30);
$tasks-weekend: lighten($tasks, 30);

$activity: steelblue;
$activity-weekend: lighten($activity, 30);

#stats {
  flex: 0 0 auto;
  height: 180px;
  background-color: $stats-bg-color;
  overflow-y: auto;
  padding: 2px;

  .stats {
    button {
      line-height: 0.8em;
      font-size: 0.8em;
    }

    .charts {
      display: flex;
      flex-flow: row;
    }

    svg {
      margin: 3px;
      background-color: $chart-bg;
      height: 125px;

      text {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      rect:hover {
        opacity: 0.5;
      }

      .completed {
        fill: $completed;
      }
      .completed-weekend {
          fill: $completed-weekend;
      }
      .total {
        fill: $total;
      }
      .total-weekend {
        fill: $total-weekend;
      }

      .done {
        fill: $done;
      }
      .done-weekend {
        fill: $done-weekend;
      }
      .tasks {
        fill: $tasks;
      }
      .tasks-weekend {
        fill: $tasks-weekend;
      }
      .activity {
        fill: $activity;
      }
      .activity-weekend {
        fill: $activity-weekend;
      }

      .lbm {
        opacity: 0.5;
        polyline {
          stroke: grey;
          stroke-width: 3;
          fill: none;
        }
        circle {
          stroke: grey;
          stroke-width: 1;
          fill: lightgrey;
        }
      }

      .weight {
        polyline {
          stroke: steelblue;
          stroke-width: 3;
          fill: none;
        }
        circle {
          stroke: steelblue;
          stroke-width: 1;
          fill: lightblue;
        }
      }
    }

    .mouse-over-info {
      padding: 5px;
      background-color: white;
      border: 1px solid darken($hashtag-blue, 25%);
      border-radius: $info-border-radius;
      position: fixed;
      top: 100px;

      span:first-of-type {
        font-weight: bold;
      }
    }
  }
}

