@import "variables.scss";

.story-edit-field {
  display: flex;
  flex-grow: 1;
  padding: 4px;
  height: 2em;
  background-color: $search-field-color;
}

.story {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.6em;
  color: #5d7186;

  label {
    font-weight: bold;
    padding: 4px 0;
  }
}
