@import "variables.scss";

body {
  color: $font-color;
  background-color: $body-background-color;
  font-size: 12px;
  font-weight: 300;
  font-family: $font-family;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* Overwrite the default to keep the scrollbar always visible.
   From: http://simurai.com/blog/2011/07/26/webkit-scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

@import "buttons.scss";
@import "journal.scss";
@import "entry.scss";
@import "story.scss";
@import "tags.scss";
@import "newlink.scss";
@import "media.scss";
@import "menu.scss";
@import "search.scss";
@import "stats.scss";
@import "grid.scss";
@import "pikaday.scss";
