$font-color: #576364;
$body-background-color: #EEE;
$green: #4CAF50;

body {
  color: $font-color;
  background-color: $body-background-color;
  font-size: 12px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

@import "buttons.scss";
@import "journal.scss";
@import "entry.scss";
@import "tags.scss";
@import "newlink.scss";
@import "media.scss";
@import "menu.scss";
@import "search.scss";
