$font-color: #576364;
$body-background-color: #EEE;
$green: #4CAF50;
$red: rgb(202, 60, 60);
$hashtag-blue: rgb(66, 184, 221);
$entry-border-radius: 0.3em;

body {
  color: $font-color;
  background-color: $body-background-color;
  font-size: 12px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

@import "buttons.scss";
@import "journal.scss";
@import "entry.scss";
@import "tags.scss";
@import "newlink.scss";
@import "media.scss";
@import "menu.scss";
@import "search.scss";



/* Overwrite the default to keep the scrollbar always visible.
   From: http://simurai.com/blog/2011/07/26/webkit-scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}