$font-color: #576364;
$body-background-color: #f3f3f9;

body {
  color: $font-color;
  background-color: $body-background-color;
  font-size: 12px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

@import "buttons.scss";
@import "tooltip.scss";
@import "journal.scss";
@import "entry.scss";
@import "tags.scss";
@import "newlink.scss";
@import "media.scss";
@import "menu.scss";
@import "search.scss";
