.DraftEditor-root {

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0;
  }

  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #7b7b7b;
    font-weight: normal;
  }

  h1, h2, h3 {
    /*line-height: 40px;*/
  }

  h1 {
    font-size: 39px;
  }

  h2 {
    font-size: 31px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 11px;
  }

  h1 small {
    font-size: 24px;
  }

  h2 small {
    font-size: 18px;
  }

  h3 small {
    font-size: 16px;
  }

  h4 small {
    font-size: 14px;
  }

  ul, ol {
    /*margin: 0 0 10px 25px;*/
    padding: 0;
  }

  ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
  }

  li {
    /*line-height: 20px;*/
  }

  a {
    color: #c15757;
    font-weight: 400;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: #823030;
    text-decoration: underline;
  }

  a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  table {
    border-collapse: collapse;
    margin: 15px 16px;
  }

  table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }

  table th, table td {
    border: 1px solid #ddd;
    border: 0;
    padding: 3px 6px;
    text-align: left;
  }

  table th {
    font-weight: bold;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  .center {
    text-align: center;
  }

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .container {
    min-width: 960px;
    padding-top: 50px;
  }

  .wrap {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 960px;
  }

  hr {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #ccc;
    height: 0;
  }

  ul, li {
    margin-left: 20px;
  }

  h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor {
    margin-top: -50px;
    position: absolute;
  }

  h1:hover .hash-link, h2:hover .hash-link, h3:hover .hash-link, h4:hover .hash-link, h5:hover .hash-link, h6:hover .hash-link {
    visibility: visible;
  }

  small code, li code, p code {
    background-color: rgba(0, 0, 0, 0.04);
    color: #555;
    font-family: 'source-code-pro', Menlo, 'Courier New', Consolas, monospace;
    /*font-size: 14px;*/
    padding: 1px 3px;
  }

  .MarkdownEditor textarea {
    height: 100px;
    width: 100%;
  }

  @media screen and (max-width: 960px) {
    .nav-main {
      position: static;
    }

    .container {
      padding-top: 0;
    }
  }

  .post {
    margin-bottom: 30px;
  }

  .pagination {
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;
  }

  .pagination .next {
    float: right;
  }

  div[data-twttr-id] iframe {
    margin: 10px auto !important;
  }

  @media only screen and (max-device-width: 1024px) {
    #content {
      display: inline;
    }

    .container {
      min-width: 0;
      overflow: scroll;
    }

    .wrap {
      width: auto;
    }

    .inner-content {
      float: none;
      width: auto;
    }

    .marketing-col {
      float: none;
      margin-bottom: 30px;
      margin-left: 0;
      text-align: center;
    }

    .home-section, .marketing-row {
      margin: 0;
    }

    .nav-main .nav-site a {
      padding: 0 4px;
    }

    .nav-main .wrap {
      padding: 0 2px 0 4px;
    }

    .home-divider {
      display: none;
    }

    h1 {
      font-size: 30px;
      /*line-height: 30px;*/
    }

    ol {
      margin: 0;
    }
  }
}
