.editor {
  background: #fefefe;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: inset 0 1px 8px -3px #ababab;
  box-sizing: border-box;
  cursor: text;
  margin-bottom: 2em;
  padding: 16px;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.draftJsHashtagPlugin__hashtag__1wMVC {
  color: #42b8dd;
  font-weight: 400;
}

.draftJsMentionPlugin__mention__29BEd, .draftJsMentionPlugin__mention__29BEd:visited {
  background: #e6f3ff;
  border-radius: 2px;
  color: #575f67;
  cursor: pointer;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
}

.draftJsMentionPlugin__mention__29BEd:hover, .draftJsMentionPlugin__mention__29BEd:focus {
  background: #edf5fd;
  color: #677584;
  outline: 0; /* reset for :focus */
}

.draftJsMentionPlugin__mention__29BEd:active {
  background: #455261;
  color: #222;
}

.draftJsMentionPlugin__mentionSuggestionsEntry__3mSwm {
  -webkit-transition: background-color .4s cubic-bezier(.27,1.27,.48,.56);
  padding: 7px 10px 3px 10px;
  transition: background-color .4s cubic-bezier(.27,1.27,.48,.56);
}

.draftJsMentionPlugin__mentionSuggestionsEntry__3mSwm:active {
  background-color: #cce7ff;
}

.draftJsMentionPlugin__mentionSuggestionsEntryFocused__3LcTd {
  background-color: #e6f3ff;
}

.draftJsMentionPlugin__mentionSuggestionsEntryText__3Jobq {
  display: inline-block;
  font-size: .9em;
  margin-bottom: .2em;
  margin-left: 8px;
  max-width: 368px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.draftJsMentionPlugin__mentionSuggestionsEntryAvatar__1xgA9 {
  border-radius: 2px;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.draftJsMentionPlugin__mentionSuggestions__2DWjA {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-transform: scale(0);
  background: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0 4px 30px 0 rgba(220,220,220,1);
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  margin-top: 1.75em;
  max-width: 440px;
  min-width: 220px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: absolute;
  transform: scale(0);
  z-index: 2000;
}

.draftJsLinkifyPlugin__link__2ittM, .draftJsLinkifyPlugin__link__2ittM:visited {
  color: #5e93c5;
  text-decoration: none;
}

.draftJsLinkifyPlugin__link__2ittM:hover, .draftJsLinkifyPlugin__link__2ittM:focus {
  color: #7eadda;
  cursor: pointer;
  outline: 0; /* reset for :focus */
}

.draftJsLinkifyPlugin__link__2ittM:active {
  color: #4a7bab;
}
