@import 'variables.scss';


.habit-details {
  background-color: #fff;
  border-radius: $entry-border-radius;
  font-size: $font-size-medium;
  margin: 8px 0;

  .btn {
    background-color: $green;
    border-radius: 3px;
    font-weight: bold;
  }

  .err {
    color: $red;
    font-weight: bold;
    margin: 5px 10px;
  }

  select {
    outline: none;
  }

  .header {
    font-weight: bold;
  }

  .days {
    padding-bottom: 5px;
  }

  .day-toggle {
    background-color: #eee;
    border-radius: 2px;
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: bold;
    margin-bottom: 3px;
    margin-right: 2px;
    text-align: center;
    user-select: none;
    width: 30px;

    &.selected {
      background-color: $hashtag-blue;
      color: #fff;
    }
  }

  table {
    border-collapse: collapse;

    .prio {
      background-color: #bbb;
      color: #fff;
      display: inline-block;
      font-weight: bold;
      min-width: 12px;
      padding: 0 2px;
      text-align: center;
    }

    .A {
      background-color: $red;
    }

    .B {
      background-color: $link-color;
    }

    th {
      background-color: $edit-menu-bg;
    }

    tr {
      cursor: pointer;
      height: 1.3em;

      &:hover {
        background-color: #faebd7;
      }

      &.selected {
        background-color: desaturate(lighten($hashtag-blue, 30), 15);
      }

      &.active-timer {
        background-color: desaturate(lighten($green, 40), 15);
      }

      &.active-timer-selected {
        background-color: desaturate(lighten($green, 30), 10);
      }

      &.active-timer-selected-busy {
        background-color: desaturate(lighten($red, 35), 10);
      }

      &.active-timer-busy {
        background-color: desaturate(lighten($red, 40), 15);
      }
    }

    td {
      padding-left: 2px;
      .legend {
        height: 1.3em;
        width: 12px;
      }

      &.left {
        text-align: left;
      }

      &.time {
        min-width: 50px;
        text-align: center;
      }

      &.habit {
        padding-left: 6px;
      }
    }
  }

  .criterion {
    border: 1px solid #ddd;
    border-radius: $entry-border-radius;
    margin: 5px 0;
    min-height: 22px;
    padding-bottom: 10px;
    position: relative;

    .fas {
      color: #bbb;
      cursor: pointer;
      float: right;
      font-size: $font-size-small;
      font-weight: bold;
      padding: 4px;

      &:hover {
        color: #f00;
      }
    }
  }

  .row {
    align-items: center;
    display: flex;
    margin-top: 10px;

    &.space-between {
      justify-content: space-between;
    }

    .spacer {
      flex: 2;
    }

    .add-criterion, .save {
      background-color: desaturate(lighten($green, 10), 5);
      border-radius: 3px;
      color: #eee;
      cursor: pointer;
      font-size: 12px;
      height: 17px;
      margin-left: 10px;
      padding: 2px 6px 1px 6px;
      right: 0;
      user-select: none;

      &:hover {
        background-color: $green;
        color: #fff;
      }

      &.save {
        background-color: $red;
        font-weight: bold;
        text-align: right;
        width: 55px;
        i {
          margin-right: 4px;
        }
      }
    }
  }

  h3 {
    margin-bottom: 20px;
    margin-left: 8px;
  }

  h4 {
    color: #888;
    font-size: $font-size-small;
    font-weight: normal;
    margin: 3px 10px 20px 12px;
  }

  label {
    color: #666;
    display: inline-block;
    font-family: $header-font-family;
    font-size: $font-size-small;
    padding-right: 3px;
    text-align: end;
    white-space: nowrap;
    width: 60px;
  }

  input {
    font-size: $font-size-small;
    min-width: 90px;
    padding: 4px 8px;
  }

  input[type="number"], input[type="time"] {
    width: 65px;
  }

  input[type="text"] {
    min-width: 120px;
    &.url {
      width: 330px;
    }
  }

  &.album {
    .detail-switch {
      color: #aaa;
      font-size: $font-size-small;
    }

    input {
      min-width: 170px;
    }

    i {
      margin-left: 6px;
    }

  }

  input[type="checkbox"] {
    margin-right: 7px;
    width: 15px;
  }

  input[type="date"] {
    min-width: 130px;
  }

  input[type="datetime-local"] {
    min-width: 150px;
  }

  div {
    line-height: 16px;
  }

  .name {
    display: inline-block;
    margin-right: 5px;
    min-width: 100px;
  }

  .allocated, .actual, .remaining {
    display: inline-block;
    min-width: 50px;
  }

  .copy-dashboard {
    background-color: desaturate(lighten($green, 10), 5);
    border-radius: $entry-border-radius;
    color: #eee;
    cursor: pointer;
    font-weight: bold;
    height: 19px;
    margin-left: 12px;
    padding: 2px 6px;
    &:hover {
      background-color: $green;
      color: #fff;
    }

    i {
      margin-right: 3px;
    }
  }
}

.habit-monitor {
  color: #f00;
  display: flex;
  flex: 2;
  flex-direction: row;
  margin-left: 4px;

  .status {
    background-color: $red;
    border-radius: 2px;
    cursor: pointer;
    height: 10px;
    margin-right: 4px;
    overflow: hidden;
    width: 16px;

    .progress {
      background-color: #ffa500;
      border-radius: 2px;
      height: 100%;
      opacity: 0.7;
    }

    &.completed {
      background-color: $green;
    }
  }
}

.completion {
  margin-top: 6px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  .status {
    background-color: $red;
    border-radius: 4px;
    display: inline-block;
    height: 8px;
    margin-right: 1px;
    width: 8px;

    &.success {
      background-color: $green;
    }
  }
}

.waiting-habits {
  white-space: nowrap;

  .habit-mon-col {
    width: 24px;
  }

  .start {
    opacity: .2;
    text-align: right;

    &:hover {
      opacity: 1;
    }
  }

  th {
    text-align: left;
  }

  .completion {
    padding-right: 0;
    text-align: center;
  }

  .add-habit {
    display: inline-block;
    float: right;
    height: 16px;
    text-align: center;
    width: 16px;
  }

  .filter {
    color: #999;
    padding-left: 6px;
  }

}
