@import 'variables.scss';

.updater {
  background-color: #fff;
  border-left: $red solid 3px;
  border-top: $red solid 3px;
  border-top-left-radius: 10px;
  bottom: 0;
  height: auto;
  padding: 10px 24px;
  position: fixed;
  right: 0;
  width: 360px;
  z-index: 1111;

  .fa-chevron-double-down, .fa-chevron-double-up {
    bottom: 12px;
    cursor: pointer;
    position: absolute;
    right: 8px;
  }

  h2 {
    margin-bottom: 10px;
    margin-top: 6px;
  }

  button {
    background-color: $hashtag-blue;
    font-family: $header-font-family;
    font-size: $font-size-medium;
    padding: 4px 10px 6px 10px;

    &:focus {
      outline: 0;
    }
  }

  .info {
    padding: 12px 0;
  }
}

// adapted from https://css-tricks.com/css3-progress-bars/
.meter {
  background-color: #ddd;
  border-radius: 6px;
  height: 10px;
  padding: 3px;
  position: relative;
}

.meter > span {
  background-color: $orange;
  border-radius: 4px;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
}
