@import 'variables.scss';

.new-link-btn {
  background-color: transparent;
  display: inline-block;

  position: relative;

  i {
    background-color: transparent;
    border-radius: 4px;
    padding-bottom: 4px !important;
    position: relative;
  }

  .new-link {
    background-color: $green;
    color: #fff;
    cursor: pointer;
    font-size: .8em;
    font-weight: bold;
    margin-left: -20px;
    margin-top: 18px;
    padding: 1px 6px;
    position: absolute;
    z-index: 1002;

    i {
      color: #fff;
      margin-right: 4px;
    }
  }
}
