@import 'variables.scss';

.problem {
  color: #5d7186;
  font-family: $header-font-family;
  font-size: 12px;

  .btn {
    background-color: $green;
    border-radius: 3px;
    font-size: $font-size-small;
    padding: 3px 6px;

    &.conclusion {
      margin-right: 20px;
      text-align: center;
      width: 50px;
    }

    &.pivot {
      background-color: $red;
    }

    &.gray {
      background-color: #ccc;
    }
  }

  .name-edit-field {
    background-color: $search-field-color;
    display: inline-block;
    font-family: $header-font-family;
    font-size: $font-size-medium;
    font-weight: bold;
    margin-bottom: 10px;
    min-width: 200px;
    outline: none;
    padding: 4px 6px;
  }

  h2 {
    margin: 4px 0 8px 0;
  }

  hr {
    background-color: #5d7186;
    border: 0;
    height: 1px;
  }

  .row {
    display: flex;
    margin-bottom: 8px;
  }

  &.story-name {
    border-radius: $entry-border-radius;
    cursor: pointer;
    display: flex;
    font-size: $font-size-medium;
    font-weight: normal;
    margin-bottom: 4px;
    padding: 2px 4px;

    i {
      margin-right: 6px;
    }

    span {
      &:hover {
        color: $link-color;
      }
    }
  }

  .badge {
    text-align: center;
    .story-badge {
      border-radius: $entry-border-radius;
      display: inline-block;
      font-size: $header-font-family;
      font-weight: bold;
      margin: 12px 0 20px 12px;
      padding: 8px 12px;
    }
  }


  label {
    display: inline-block;
    width: 60px;
    &.wide {
      width: 100%;
    }
  }

  h3 {
    font-size: 12px;
  }

  .saga {
    select {
      margin: 10px 0 20px 0;
      min-width: 200px;
    }

    .fa-toggle-on {
      color: $green;
    }
  }

  .name {
    padding-right: 1em;
  }

  label {
    font-weight: bold;
    padding: 4px 0;
  }

  .stories {
    font-size: 2em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    position: relative;
  }

  .story-list {
    background-color: #fff;
    border: #bbb 1px solid;
    padding: 2px 4px 4px 4px;
    position: absolute;
    white-space: nowrap;
    z-index: 1002;
  }
}
