@import 'variables.scss';

.questionnaire {
  margin-top: 10px;
  user-select: none;

  .expand-toggle {
    color: #aaa;
    margin-left: 5px;
  }

  ol {
    margin: .4em;
    padding-left: 20px;
  }

  .multi-line {
    margin-top: 5px;
  }

  label {
    display: inline-block;
    font-size: $font-size-medium;
    min-width: 85px;
  }

  .missing {
    color: #8b0000;
    font-weight: bold;
  }

  .range {
    .opt {
      background-color: #f0f0f0;
      border-radius: 2px;
      color: #999;
      cursor: pointer;
      display: inline-block;
      font-weight: bolder;
      margin: 2px;
      padding: 3px 8px;
      text-align: center;

      &.sel {
        background-color: #90ee90;
        color: #666;
        font-weight: bold;
      }
    }
  }

  .agg {
    .res {
      display: inline-block;
      font-weight: bold;
      margin: 0 8px 0 4px;
    }
    padding-bottom: 5px;
  }

  cite {
    font-size: $font-size-small;
  }
}
