@import "oswald";

$font-color: #3e4a4b;
$fa-color: lighten($font-color, 5);
$font-family: "Lato", sans-serif;
$header-font-family: "Oswald", "Lato", sans-serif;

$font-size-meins-header: 20px;
$font-size-xs: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-cal: 10px;

$green: #4caf50;
$orange: #ff8c00;
$red: rgb(202, 60, 60);
$hashtag-blue: rgb(66, 184, 221);
$info-border-radius: 0.3em;
$mention-color: rgb(55, 201, 154);
$search-field-color: #eee;
$entry-bg: rgb(252, 252, 252);
$edit-menu-bg: rgb(220, 220, 220);
$delete-warning: rgb(202, 60, 60);
$show-more: #1f8dd6;
$not-tag: rgb(221, 77, 55);
$menu-bg: #222;
$body-background-color: rgb(40, 40, 40);
$stats-bg-color: $menu-bg;
$stats-color: rgb(125, 126, 128);
$toggle-btn: #576364;
$link-color: #006c91;
$menu-new-btn: #0078e7;
$mention-link: #007d4e;
$tab-bg: #445;

$cfg-bg: #2c3246;

$grid-bg: #445;
$briefing-bg: #fff;

$entry-border-radius: 3px;
$briefing-width: 240px;
