@import 'variables.scss';

body {
  background-color: $tab-bg;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
}

h1 {
  color: #ddd;
  text-align: center;
}

// from http://tobiasahlin.com/spinkit/

.spinner {
  font-size: 10px;
  height: 50px;
  margin: 50px auto;
  text-align: center;
  width: 60px;
}

.spinner > div {
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  background-color: darken($orange, 15);
  display: inline-block;

  height: 100%;
  width: 6px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(.4)
  }

  20% {
    -webkit-transform: scaleY(1)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(.4);
    transform: scaleY(.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
