@import 'variables';

body {
  background-color: $body-background-color;
  box-shadow: 0 0 1px rgba(0, 0, 0, .05);
  color: $font-color;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 300;
  outline: 1px solid transparent;
}

[draggable='true'] {
  cursor: default;
}

.drag {
  cursor: -webkit-grab;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100vh;

  .error {
    margin: 50px;
    i {
      color: #ff4500;
      margin-right: 10px;
    }

    h1 {
      font-size: 3em;
    }
  }
}

// Overwrite the default to keep the scrollbar always visible.
// From: http://simurai.com/blog/2011/07/26/webkit-scrollbar
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  background-color: rgba(0, 0, 0, .5);
  border-radius: 4px;
}

.cal-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

i {
  &.fa {
    color: $fa-color;
    font-weight: 300;
  }
}

.loader {
  -webkit-app-region: drag;
  background-color: #334;
  background-image: url("../images/startscreen_meins.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  user-select: none;
  width: 100%;

  .content {
    align-items: center;
    color: #fff;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto auto auto;
    width: 500px;

    h1 {
      margin-bottom: 20px;
      margin-top: 25px;
      text-align: center;
    }

    // adapted from https://css-tricks.com/css3-progress-bars/
    .meter {
      background: $body-background-color;
      border-radius: 6px;
      height: 20px;
      margin-top: 30px;
      padding: 4px;
      position: relative;
      width: 100%;
    }

    .meter > span {
      background-color: darken($orange, 15);
      border-radius: 4px;
      display: block;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
  }
}

// From https://www.w3schools.com/css/css_tooltip.asp
.tooltip {
  display: inline-block;
  position: relative;
}

// Tooltip text
.tooltip .tooltiptext {
  background-color: #fafafa;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0 0 2px #aaa;
  color: #333;
  font-size: $font-size-medium;
  margin-top: 5px;
  min-width: 102px;
  padding: 6px 9px;
  position: absolute;
  text-align: left;

  h4 {
    font-family: $header-font-family;
    margin-bottom: 4px;
    margin-top: 3px;
    white-space: nowrap;
  }

  // Position the tooltip text - see examples below!
  visibility: hidden;
  z-index: 2000;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.leaflet {
  height: 130px;
}

@import 'buttons';
@import 'journal';
@import 'tasks';
@import 'habits';
@import 'entry';
@import 'briefing';
@import 'story';
@import 'tags';
@import 'newlink';
@import 'media';
@import 'menu';
@import 'conflict';
@import 'search';
@import 'preferences/config';
@import 'preferences/sync';
@import 'stats';
@import 'grid';
@import 'cf_hashtag';
@import 'spotify';
@import 'dashboard';
@import 'calendar';
@import 'carousel';
@import 'datepicker';
@import 'editor';
@import 'focus';
@import 'mapbox-gl';
@import 'edn';
@import 'problem';
@import 'post-mortem';
@import 'infinite-cal';
@import 'ui-components';
@import 'questionnaire';
@import 'quill-snow';
@import 'integrated-updater';
@import 'daypicker';
