<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>7DN35ABWYL</string>
    <key>teamName</key>
    <string>Matthias Nehlsen</string>
    <key>provisioningProfiles</key>
    <dict>
    <key>com.matthiasnehlsen.lotti</key>
    <string>14087e9a-97a9-4bbf-a99d-9bd34ac4a9ce</string>
    </dict>
</dict>
</plist>