data/*.edn
data/.gitignore
data/images
data/audio
data/videos
data/daily-logs
data/trash
data/import
data-test/
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.idea
*.iml
.DS_Store

resources/
*.pid
*.out
*.zip

.sass-cache/
