@import 'variables.scss';

.btn {
  color: #fff;
  cursor: pointer;
  font-size: .8em;
  padding: 1px 5px;
  white-space: nowrap;

  .fa {
    padding-right: 0.1em;
  }
}

.not-saved, .cancel {
  background-color: $red;
  color: #fff;
  cursor: pointer;
  padding: 1px 5px;
}

.cancel {
  background-color: #bbb;
}

.link-btn {
  background-color: $green;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: $font-size-xs;
  font-weight: bold;
  padding: 1px 3px 1px 4px;
  white-space: nowrap;
}

button {
  background-color: $green;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.menu-new {
  background-color: $menu-new-btn;
}

.show-more-btn {
  background-color: $show-more;
  color: #f5f5f5;
  font-size: .8em;
  padding: 1px 5px;
}


.delete-btn {
  color: #fff;
  display: inline-block;
  position: relative;

  .warn {
    background-color: $delete-warning;
    cursor: pointer;
    font-size: .8em;
    font-weight: bold;
    height: 20px;
    margin-top: 21px;
    padding: 0 5px;
    position: absolute;
    z-index: 1002;

    i {
      color: #fff;
      margin-right: 2px;
    }

    &.delete {
      margin-left: -36px;
    }

    &.discard {
      margin-left: 24px;
    }
  }
}

.show-more {
  padding: 20px 0;
}

a, a:visited {
  color: $link-color;
  font-weight: 400;
  outline: none !important;
  text-decoration: none;
}

.toggle {
  cursor: pointer;
  margin-left: 4px;
  padding: 2px;

  &.green {
    color: darken($green, 10);
  }
}

.fa-thumbs-up, .fa-thumbs-down {
  color: #006c91;
}

.inactive {
  color: #aaa;
}

.hidden-comments {
  color: #f00;
}

a .toggle {
  color: $toggle-btn;
}

.upvotes {
  border: 1px solid #006c91;
  border-radius: 2px;
  color: #006c91;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 3px;
  margin-left: 1px;
  padding: 0 2px 0 1px;
  vertical-align: super;
}

.toggle-cmds {
  margin-right: 30px;
}

.linked-tasks {
  padding: 4px 0;
  .filter {
    background-color: #dde;
    border-bottom: #ddd 1px solid;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #555;
    cursor: pointer;
    font-family: $header-font-family;
    font-size: $font-size-small;
    margin: 0 1px;
    padding: 0 4px;
  }

  .current {
    background-color: $show-more;
    border-bottom: #00a699 1px solid;
    color: #fff;
  }
}
