@import 'variables.scss';

.focus {
  background-color: #eee;
  border-radius: $entry-border-radius;
  overflow-y: auto;

  .card {
    padding: 6px 12px;

    time {
      font-size: $font-size-xs;
    }

    &.selected-day {
      border-left: rgb(123, 157, 111);
      border-left-style: solid;
      border-left-width: 4px;
    }

    img {
      width: 100%;
    }

    &.green {
      background-color: lighten($green, 40);
    }

    &.blue {
      background-color: lighten($hashtag-blue, 20);
    }

    .git-commit {
      font-size: $font-size-xs;
      line-height: 12px;
      margin-top: 5px;
    }
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .task-status {
    align-items: center;
    display: flex;
    margin-top: 2px;
  }

  i {
    color: #bbb;
    font-size: $font-size-medium;

    &.fa-times {
      color: $red;
    }

    &.green {
      color: $green;
    }
  }

  .timeline {
    background-color: #fff;
    height: 65px;

    h1 {
      margin-bottom: 0;
      margin-top: 0;
      text-align: center;
    }

    .events-wrapper {
      margin: 0 50px !important;
    }
  }
}
