@import 'variables.scss';

img {
  height: auto;
}

video {
  background-color: #000;
  max-width: 500px;
  width: 100%;
}

.leaflet-map {
  height: 130px;
  margin-top: 5px;
}

.wavesurfer {

  .controls {
    user-select: none;

    .ctrl-btn  {
      cursor: pointer;
      display: inline-block;
      margin-top: 5px;
      padding: 3px;
      text-align: center;
      width: 18px;
      &:hover {
        background-color: #ddd;
      }
    }

    i {

    }

    .time {
      font-family: monospace;
      font-size: 0.7em;
      font-weight: bold;
      .duration, .progress {
        padding: 0 2px;
      }
    }

    input[type="range"] {
      border: 0;
      box-shadow: none;
      margin-left: 5px;
      position: relative;
      top: 4px;
      width: 150px;
    }
  }
}
