{:health_data   {"platformType" "IOS",
                 "sourceId"     "jp.co.omron.healthcare.omronconnect",
                 "runtimeType"  "discreteQuantityData",
                 "value"        80,
                 "dateFrom"     "2021-11-27T13:34:00.000",
                 "sourceName"   "omron connect",
                 "dataType"     "HealthDataType.BLOOD_PRESSURE_DIASTOLIC",
                 "unit"         "HealthDataUnit.MILLIMETER_OF_MERCURY",
                 "dateTo"       "2021-11-27T13:34:00.000",
                 "deviceType"   "iPhone13,3",
                 "deviceId"     "some-device-id"},
 :mentions      #{},
 :tags          #{"#BP"},
 :timezone      "Europe/Berlin",
 :custom_fields {"#BP" {:bp_diastolic 80}},
 :utc-offset    60,
 :perm_tags     #{"#BP"},
 :timestamp     1638020040002,
 :text          "BP: 80 mmHg diastolic",
 :md            "BP: 80 mmHg diastolic"}
