{:geohash        "u31pzf63c",
 :id             "1a7b6735-cc86-5674-a4fc-a49fbfa297ad",
 :latitude       52.0,
 :longitude      13.0,
 :md             "",
 :mentions       #{},
 :questionnaires {:panas
                  {1  1,
                   2  2,
                   3  3,
                   4  4,
                   5  5,
                   6  4,
                   7  3,
                   8  2,
                   9  1,
                   10 2,
                   11 3,
                   12 4,
                   13 5,
                   14 4,
                   15 3,
                   16 2,
                   17 1,
                   18 2,
                   19 3,
                   20 4}},
 :perm_tags      #{"#PANAS"},
 :tags           #{},
 :text           "",
 :timestamp      1638034875784,
 :timezone       "Europe/Berlin",
 :utc-offset     0,
 :vclock         {"67b16d73-6653-4f5f-be81-bf923a6273c5" 23}}
