{:health_data   {"dateFrom"     "2021-11-21T00:00:00.000",
                 "dateTo"       "2021-11-21T23:59:59.999",
                 "value"        13897,
                 "dataType"     "cumulative_step_count",
                 "unit"         "count",
                 "deviceType"   "iPhone13,3",
                 "platformType" "IOS",
                 "runtimeType"  "cumulativeQuantityData"},
 :mentions      #{},
 :timezone      "Europe/Berlin",
 :custom_fields {"#steps" {:cnt 13897}},
 :utc-offset    120,
 :perm_tags     #{"#steps"},
 :timestamp     1637539199876,
 :text          "Steps: 13897 total",
 :md            "Steps: 13897 total"}
