{:health_data   {"platformType" "IOS",
                 "sourceId"     "com.apple.Health",
                 "runtimeType"  "discreteQuantityData",
                 "value"        88.4,
                 "dateFrom"     "2021-11-23T09:00:00.000",
                 "sourceName"   "Health",
                 "dataType"     "HealthDataType.WEIGHT",
                 "unit"         "HealthDataUnit.KILOGRAMS",
                 "dateTo"       "2021-11-23T09:00:00.000",
                 "deviceType"   "iPhone13,3",
                 "deviceId"     "some-device-id"},
 :mentions      #{},
 :timezone      "Europe/Berlin",
 :custom_fields {"#weight" {:weight 88.4}},
 :utc-offset    60,
 :perm_tags     #{"#weight"},
 :timestamp     1637658000000,
 :text          "Weight: 88.4 kg",
 :md            "Weight: 88.4 kg"}
