@import "variables.scss";

.briefing {
  display: flex;
  flex-direction: column;
  background-color: $briefing-bg;
  border-radius: $entry-border-radius;

  .briefing-header {
    display: flex;
    flex-flow: row;
    padding: 1px;
    min-height: 28px;
    justify-content: space-between;
  }

  .scroll {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .summary {
    font-size: $font-size-small;
    margin-bottom: 8px;
  }

  svg {
    &.vertical-bar {
      width: 100vw;
      height: 300px;
    }
    &.planned-actual {
      width: 300px;
    }
  }

  form {
    flex-grow: 1;
  }

  .infinite-cal {
    background-color: white;
    min-height: 50px;
    margin-bottom: 5px;
    font-size: 0.5em;
  }

  .stacked-bars {
    width: 60px;
    padding: 10px 0 0 10px;
    display: flex;

    div {
      width: 14px;
    }
  }

  .saga-filter, .add-task {
    position: relative;
    user-select: none;
    white-space: nowrap;
    z-index: 1002;
    font-family: $header-font-family;

    &.add-task {
      :active {
        background-color: $green;
        color: white;
      }
    }

    .toggle-visible {
      font-weight: bold;
      font-size: 1.2em;
      cursor: pointer;
      padding: 3px 5px;
      border-radius: 5px;
      margin-top: 2px;

      i {
        color: $green;
        margin-left: 4px;
      }
    }

    .controls {
      display: flex;
      justify-content: space-between;
      padding: 5px;

      div {
        color: black;
        font-weight: bold;
        font-size: 0.8em;
        background-color: #EEE;
        cursor: pointer;
        padding: 2px 5px;
        border-radius: 2px;
        margin-bottom: 3px;
      }
    }

    .items {
      position: absolute;
      background-color: white;
      border: #aaa 1px solid;
      border-radius: 5px;
      box-shadow: 0 0 1px 1px #AAA;
      padding: 0 8px 8px 8px;
    }
    .item {
      padding: 3px 6px;
      cursor: pointer;
      white-space: nowrap;
      display: flex;
      align-items:center;

      .on-off2 {
        margin-right: 8px;
      }
    }
  }

  .open-tasks, .started-tasks, .linked-tasks {
    font-size: $font-size-medium;
    margin: 0;
    background-color: white;
    line-height: 1.2em;

    table {
      border-collapse: collapse;
      margin-bottom: 4px;

      .prio {
        min-width: 12px;
        text-align: center;
        display: inline-block;
        color: $font-color;
        font-weight: bold;
        font-size: $font-size-medium;
        padding-left: 3px;
      }
      .A {
        color: $red;
      }
      .B {
        color: $link-color;
      }

      th {
        background-color: $edit-menu-bg;
        font-family: $header-font-family;
      }

      tr {
        cursor: pointer;

        .fa-unlink {
          opacity: 0;
        }

        .progress {
          width: 55px;
        }

        .tooltip {
          line-height: 1.6em;

          label {
            display: inline-block;
            min-width: 100px;
          }

          .story {
            font-weight: bold;
            display: inline-block;
            margin-bottom: 3px;
            padding: 1px 3px;
            border-radius: 3px;
            text-align: right;
            font-size: $font-size-small;
          }
          .tooltiptext {
            z-index: 1111;
          }
        }

        &:hover {
          background-color: antiquewhite;
        }
        &.selected {
          background-color: desaturate(lighten($hashtag-blue, 30), 15);
          cursor: default;

          .fa-unlink {
            background-color: desaturate(lighten($hashtag-blue, 30), 15);
            opacity: 1;
            cursor: pointer;
            padding: 2px 4px;
            z-index: 11;
          }
        }
        &.active-timer {
          background-color: desaturate(lighten($green, 40), 15);
        }
        &.active-timer-selected {
          background-color: desaturate(lighten($green, 30), 10);
        }
        &.active-timer-selected-busy {
          background-color: desaturate(lighten($red, 35), 10);
        }
        &.active-timer-busy {
          background-color: desaturate(lighten($red, 40), 15);
        }
      }

      th {
        white-space: nowrap;
      }
      td {
        padding: 0 2px;
        white-space: nowrap;
        .legend {
          height: 1.3em;
          width: 12px;
        }

        &.last {
          padding-right: 0;
        }

        &.left {
          text-align: left;
        }

        &.time {
          text-align: center;
        }
        &.text {
          white-space: nowrap;
          max-width: 150px;
        }
      }
    }
  }
  .open-tasks {
    margin-top: 10px;

    .fa-search {
      margin-left: 22px;
      padding-bottom: 5px;
    }

    input {
      margin: 1px 0 1px 4px;
      padding: 0 4px;
      font-size: $font-size-small;
      font-weight: lighter;
      height: 18px;
    }
  }

}

.add-habit {
  i {
    color: white;
    padding: 0;
  }
  background-color: $green;
  border-radius: 2px;
  padding: 0 2px;
  margin-right: 1px;
}