@import "variables.scss";

.btn {
  padding: 1px 5px;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
  white-space: nowrap;

  .fa {
    padding-right: 0.1em;
  }
}

.not-saved, .cancel {
  padding: 1px 5px;
  color: white;
  background-color: $red;
  cursor: pointer;
}

.cancel {
  background-color: #BBB;
}

.link-btn {
  padding: 1px 3px 1px 4px;
  color: white;
  font-size: $font-size-xs;
  font-weight: bold;
  background-color: $green;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 2px;
}

button {
  background-color: $green;
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 3px;
}

.menu-new {
  background-color: $menu-new-btn;
}

.show-more-btn {
  background-color: $show-more;
  color: whitesmoke;
  font-size: 0.8em;
  padding: 1px 5px;
}


.delete-btn {
  position: relative;
  display: inline-block;
  color: white;

  .warn {
    position: absolute;
    z-index: 1002;
    margin-top: 21px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8em;
    padding: 1px 5px;
    background-color: $delete-warning;

    i {
      color: white;
      margin-right: 3px;
    }

    &.delete {
      margin-left: -80px;
    }

    &.discard {
      margin-left: 10px;
    }
  }
}

.show-more {
  padding: 20px 0;
}

a, a:visited {
  text-decoration: none;
  font-weight: 400;
  color: $link-color;
  outline: none!important;
}

.toggle {
  padding: 2px;
  margin-left: 4px;
  cursor: pointer;

  &.green {
    color: darken($green, 10);
  }
}

.fa-thumbs-up, .fa-thumbs-down {
  color: #006C91;
}

.inactive {
  color: #AAA;
}

.hidden-comments {
  color: red;
}

a .toggle {
  color: $toggle-btn;
}

.upvotes {
  vertical-align: super;
  color: #006C91;
  font-size: 0.7em;
  line-height: 1.2em;
  font-weight: bold;
  padding: 0 2px 0 1px;
  margin-left: 1px;
  margin-bottom: 3px;
  border: 1px solid #006C91;
  border-radius: 2px;
}

.toggle-cmds {
  margin-right: 30px;
}

.linked-tasks {
  padding: 4px 0;
  .filter {
    background-color: #DDE;
    color: #555;
    font-size: $font-size-small;
    padding: 0 4px;
    margin: 0 1px;
    border-bottom: #ddd 1px solid;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    font-family: $header-font-family;
  }

  .current {
    background-color: $show-more;
    color: white;
    border-bottom: #00a699 1px solid;
  }
}
