@import "variables";

/********************************************
	BREAKPOINT WIDTHS
********************************************/
/********************************************
	FONTS
********************************************/
/********************************************
	COLOURS
********************************************/
/*  Vertical gradient
========================================================================== */
/*  Horizontal Gradient
========================================================================== */
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  -webkit-transition: all 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}

.carousel .control-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: '';
}

.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none;
}

.carousel .control-prev.control-arrow {
  left: 0;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff;
}

.carousel .control-next.control-arrow {
  right: 0;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff;
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel button {
  outline: 0;
  border: 0;
  background: none;
}

.carousel img {
  width: 80%;
  display: inline-block;
}

.carousel .carousel {
  position: relative;
}

.carousel .control-arrow {
  top: 50%;
  margin-top: -13px;
  font-size: 18px;
}

.carousel .thumbs-wrapper {
  margin: 16px;
  overflow-x: scroll;
  white-space: nowrap;
}

.carousel .thumbs {
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap;
}

.carousel .thumb {
  -webkit-transition: border 0.15s ease-in;
  transition: border 0.15s ease-in;
  display: inline-block;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #444;
  padding: 2px;
  position: relative;

  .fa-times {
    position: absolute;
    right: 4px;
    top: 4px;
    color: $orange;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
  }
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid #fff;
  padding: 2px;
}

.carousel .thumb img {
  vertical-align: center;
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: flex;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
}

.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height 0.15s ease-in;
  transition: height 0.15s ease-in;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  display: flex;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
}

.carousel .slider-wrapper.axis-vertical {
  display: flex;
}

.carousel .slider-wrapper.axis-vertical .slider {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.carousel .slider {
  position: relative;
  list-style: none;
  width: 100%;
}

.carousel .slider.animated {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: #000;
}

.carousel .slide img {
  vertical-align: top;
  border: 0;
}

.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0;
}

.carousel .slide .legend {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -40%;
  width: 80%;
  border-radius: 3px;
  background: #000;
  z-index: 1111;
  color: #fff;
  padding: 6px 15px;
  font-size: $font-size-small;
  text-align: center;
  opacity: 0.25;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;

  ul {
    margin-left: 25px;
  }

  div {
    margin-bottom: 3px;
  }

  a {
    color: white;
  }
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #ccc;
}

.carousel:hover .slide .legend {
  opacity: 0.75;
}

.gallery {
  margin: 0;
  background-color: black;

  &.page {
    height: 100vh;
  }

  .leaflet {
    height: 310px;
  }

  .fa-external-link-alt {
    padding-left: 6px;
  }

  .carousel .slide img {
    height: 260px;
    width: auto;
  }

  .row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .stars {
    margin: 0 6px 0 6px;
    white-space: nowrap;

    i {
      margin-left: 3px;

      &.fa-star {
        &.fas {
          color: gold;
        }
      }
    }
  }

  &.fullscreen {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    z-index: 1111;

    .filters {
      background-color: #111;

      .stars-filter {
        width: 100px;
        margin-top: 40px;
        margin-left: 10px;
        line-height: 1.5em;

        .fa-star {
          &.fas {
            color: gold;
          }
        }
      }

      .btn {
        background-color: $green;
        color: white;
        padding: 3px 6px;
        border-radius: 3px;
        text-align: center;
        margin-top: 20px;
      }
    }

    .info-drawer {
      background-color: #111;
      height: calc(100vh - 116px);
      width: 360px;

      .journal {
        max-height: 36vh;

        .journal-entries {
          overflow-y: hidden;
        }
      }

      .entry-with-comments {
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .entry {

          .story-name {
            margin-bottom: 0;
          }

          .header {
            line-height: 8px;
            height: 20px;
          }
        }
      }

      .stars {
        margin: 7px;
        display: inline-block;
        width: 360px;
        color: #ccc;
      }

      time {
        display: block;
        font-size: 0.9em;
        margin: 10px;
      }

      .gallery-editor {
        .save {
          font-size: $font-size-large;
          padding: 10px 0;
          margin: 12px 6px;
          width: 90px;
          text-align: center;
          font-weight: bold;
          background-color: $red;
          border-radius: $entry-border-radius;
          cursor: pointer;

          i {
            margin-right: 6px;
          }
        }
      }

      h1, h2, h3 {
        font-size: 1em;
      }

      .map, .mapbox {
        background-color: #333;
        height: 40vh;
        width: 360px;
        position: relative;
        i {
          position: absolute;
          top: 6px;
          right: 6px;
          z-index: 1111;
        }
      }
    }

    .carousel .slide img {
      object-fit: contain;
      margin-left: 5px;
      margin-right: 5px;
      height: calc(100vh - 116px);
      width: calc(100vw - 480px);

      &.full {
        height: 100vh;
        width: 100vw;
        margin: 0;
      }
    }

    .carousel .control-prev.control-arrow {
      left: 115px;
    }

    .carousel .control-next.control-arrow {
      right: 365px;
    }

    .carousel .carousel-status {
      right: 360px;
    }
  }

  i {
    margin-left: 5px;
    cursor: pointer;
  }
}
