@import "variables.scss";

.config {
  display: flex;
  background-color: $tab-bg;

  th {
    user-select: none;
  }

  h2 {
    margin-top: 18px;
    font-size: $font-size-meins-header;
    color: #EEE;
    font-weight: lighter;
  }

  .assistant {
    color: white;
    margin-bottom: 40px;

    .tag {
      background-color: $hashtag-blue;
      padding: 2px 4px;
      margin: 0 4px 2px 0;
      border-radius: $entry-border-radius;
      font-weight: bold;
      cursor: pointer;
    }
  }

  table {
    color: $font-color;
    line-height: 22px;
    border-collapse: collapse;
    margin-bottom: 20px;

    tr {
      cursor: pointer;
      background-color: white;

      &:hover {
        background-color: desaturate(lighten($orange, 40%), 10%);
      }
      &.active {
        background-color: $orange;
        color: white;
      }

      td {
        &.c {
          text-align: center;
        }
        &:last-child {
          padding-right: 8px;
        }
      }

      th:first-child {
        border-top-left-radius: 3px;
      }

      th:last-child {
        border-top-right-radius: 3px;
        padding-right: 8px;
      }

      &:last-child {

        td:first-child {
          border-bottom-left-radius: 3px;
        }

        td:last-child {
          border-bottom-right-radius: 3px;
        }
      }
    }

    .completion {
      text-align: left;
    }

    .title {
      font-family: $header-font-family;
      font-weight: bold;
    }

    &.sagas-stories, &.habit_cfg {
      font-family: $header-font-family;
      font-size: $font-size-medium;
      white-space: nowrap;

      th {
        background-color: #00a699;
        text-align: left;
      }

      th, td {
        padding-left: 8px;
      }

      td {
        padding-left: 8px;
      }

      .fa-toggle-on {
        color: $green;
      }
      .fa-toggle-off {
        color: #AAA;
      }

    }
  }

  .stories, .sagas, .habits {
    overflow-y: scroll;
    width: auto;

    i {
      font-size: $font-size-large;
    }
  }

  .dashboards-cfg {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .dashboards {
      flex: 1;
    }
    .dashboard {
      z-index: 111;
      border-top: $tab-bg 4px solid;
    }
  }

  .habit-cfg-row {
    display: flex;
    flex: 1;

    .journal {
      min-width: 320px;
    }
  }

  .custom-fields, .habits {
    padding-right: 16px;
  }

  .tile-tabs {
    margin-left: 4px;
    margin-top: 12px;
    width: 380px;
  }

  .menu {
    background-color: white;
    height: 100%;
    max-width: 180px;
    min-width: 180px;
    z-index: 11;

    h1 {
      padding: 30px 25px;
      background-color: $orange;
      margin: 0;
      color: white;
    }

    .menu-item {
      cursor: pointer;
      font-size: $font-size-large;
      padding: 18px;
      font-family: $header-font-family;

      &:hover, &.highlight {
        background-color: lighten($hashtag-blue, 35);
      }

      &.active {
        background-color: $hashtag-blue;
        color: white;
      }

      &.exit {
        font-weight: bold;
      }
    }
  }

  .photos {
    button {
      margin-top: 10px;
    }
  }

  .metrics {
    display: flex;
    flex-flow: column;
    color: #DDD;

    table {
      text-align: right;
      margin-top: 20px;
      width: auto;
      padding: 5px;

      .label {
      }

      td, th {
        padding: 0 7px;
      }

      .data {
        font-family: monospace;
      }
    }

    .btn {
      padding: 10px 20px;
      width: 100px;
      font-size: $font-size-large;
      font-family: $header-font-family;
      text-align: center;
      margin: 10px;
      border-radius: $entry-border-radius;
      background-color: $green;
    }

    pre {
      background-color: white;
      overflow-y: scroll;
      margin-left: 20px;
      height: auto;
    }
  }

  input {
    border: 0;
    outline: none;
    padding: 4px 8px;
    border-radius: $entry-border-radius;
  }

  .col {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
  }

  .cfg-items {
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;
    height: 50vh;

    .story {
      font-size: $font-size-small;
      padding-bottom: 5px;
      color: #666;
    }
  }

  .custom-field {
    flex: 1;
    background-color: #fafafa;
    padding: 6px 15px;
    margin: 0 6px 5px 0;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;

    h3 {
      margin: 2px 0;
      font-family: $header-font-family;
      &:hover {
        color: $link-color;
      }
    }

    ul {
      padding: 0 0 0 15px;
      margin: 5px 0;
    }

    &.active {
      background-color: #caffdf;
    }
  }

  .add {
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    white-space: nowrap;
    padding: 2px 6px;
    margin-left: 20px;
    border-radius: $entry-border-radius;

    .fa {
      margin-right: 4px;
    }
  }

  .input-line {
    font-size: $font-size-large;
    margin-bottom: 20px;

    .search {
      display: inline-block;
      border-radius: $entry-border-radius;
      padding-right: 0;
      margin-right: 10px;
      margin-left: 16px;

      .fa-plus {
        padding: 6px 6px;
      }

      .fa-search {
        padding: 8px 8px 4px 10px;
        color: #DDD;
      }

      .add {
        display: inline-block;
        border-top-right-radius: $entry-border-radius;
        border-bottom-right-radius: $entry-border-radius;
        color: white;
        font-weight: bold;
        font-size: $font-size-large;

        &:hover {
          background-color: $green;
        }
      }
    }

    input {
      width: 200px;
      margin-bottom: 10px;
      color: #444;
      font-weight: bold;
      font-size: $font-size-medium;
    }
  }

  .detail {
    flex: 1;
    background-color: #FAFAFA;
    padding: 5px;
    margin-right: 5px;

    label {
      display: inline-block;
      width: 80px;
    }

    .warn {
      color: red;

      .fa {
        padding: 0 3px 0 6px;
      }
    }

    h1 {
      margin-left: 10px;
    }

    .field {
      margin-top: 5px;
      padding: 5px 10px;
      background-color: #f1f1f1;
      line-height: 2em;
      border-radius: $entry-border-radius;

      .row {
        margin: 10px 0;
      }
    }
    .story-line {
      padding: 5px 10px;
    }
  }

  .save {
    margin-bottom: 1em;

    .not-saved, .cancel {
      display: inline-block;
      padding: 3px 8px;
    }

    .cancel {
      margin-left: 1em;
    }
  }

  .third-col {
    flex: 1;
  }
}

.sync-cfg {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  background-color: $tab-bg;
  width: 100%;
  margin-left: 16px;

  img {
    margin-top: 60px;
    margin-right: 30px;
  }
  .settings {

    input {
      margin: 6px;
      padding: 6px 12px;
      width: 350px;
      color: orange;
      font-size: 14px;
      font-family: monospace;
      background-color: $body-background-color;
      outline: none;
      border-width: 0;
    }

    .fas {
      padding: 0 20px;
      font-weight: bold;
      font-size: 2em;
    }

    table {
      background-color: $tab-bg;
      margin-top: 20px;

      tr.spacer {
        height: 20px;
      }

      .btn-check {
        height: 30px
      }

      tr {
        cursor: default;
        &:hover {
          background-color: transparent;
        }
        &.invisible {
          opacity: 0;
        }

        button {
          float: right;
          font-size: 14px;
          &.save {
            background-color: $red;
          }
        }
      }

      td {
        font-size: 14px;
        text-align: right;
        font-family: monospace;
        margin-left: 20px;
        color: orange;
        &.r {
          align-content: flex-end;
        }

        &.success {
          color: $green;
        }
        &.fail {
          color: $red;
        }
      }
    }
  }
}
