@import 'variables.scss';

.conflict {

  h3 {
    margin: 6px 0 4px 0;
  }

  button {
    font-family: $header-font-family;
    font-size: $font-size-medium;
    font-weight: lighter;
    margin-top: 6px;
    padding: 4px 8px;
  }

  pre {
    code {
      font-size: 9px !important;
    }
    background-color: #eee;
    border-radius: $entry-border-radius;
    cursor: pointer;
    padding: 4px;
  }

  .warn {
    background-color: $red;
    color: #fff;
    font-family: $header-font-family;
    font-size: $font-size-large;
    padding: 5px 10px;

    .fa {
      padding-right: 5px;
    }
  }
}
