.config {
  display: flex;
  background-color: #EEE;
  padding-left: 1em;

  pre {
    height: 200px;
    font-size: 8px;
    overflow-y: scroll;
  }

  input {
    border: 0;
    outline: none;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .cfg-items {
    overflow-y: scroll;
    flex: 1;
  }

  .custom-field {
    min-width: 300px;
    flex: 1;
    background-color: #fafafa;
    padding: 5px;
    margin: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;

    h3 {
      margin: 5px 0;
    }

    ul {
      padding: 0 0 0 15px;
      margin: 5px 0;
    }

    &.active {
      background-color: #caffdf;
    }
  }

  .add {
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    white-space: nowrap;
    background-color: $green;
    padding: 3px 6px;
    .fa {
      margin-right: 4px;
    }
  }

  .input-line {
    font-size: 1.5em;
    input {
      width: 200px;
      margin-bottom: 10px;
    }
  }

  .fa-trash-alt {
    float: right;
    cursor: pointer;
    padding: 10px;
    font-weight: 100;

    &.tag-delete {
      padding: 20px;
    }

    &:hover {
      color: red;
    }
  }

  .detail {
    flex: 1;
    background-color: #fafafa;
    padding: 5px;
    margin-right: 5px;

    label {
      display: inline-block;
      width: 80px;
    }

    .warn {
      color: red;

      .fa {
        padding: 0 3px 0 6px;
      }
    }

    .field {
      margin-top: 5px;
      padding: 5px 10px;
      background-color: #f1f1f1;
      line-height: 2em;
    }
    .story-line {
      padding: 5px 10px;
    }
  }

  .save {
    margin-bottom: 1em;

    .not-saved, .cancel {
      display: inline-block;
      padding: 3px 8px;
    }

    .cancel {
      margin-left: 1em;
    }
  }

  .third-col {
    flex: 1;
  }

  .locale {
    padding-right: 15px;
  }
}

.sync-cfg {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 100vw;

  img {
    margin-top: 60px;
    margin-right: 30px;
  }
  .settings {

    input {
      margin: 6px;
      padding: 6px;
      width: 500px;
      color: orange;
      font-size: 14px;
      font-family: monospace;
      background-color: $body-background-color;
      outline: none;
      border-width: 0;
    }

    .fas {
      padding: 0 20px;
      font-weight: bold;
      font-size: 2em;
    }

    table {
      padding: 60px 40px 0 40px;
      padding-right: 30px;

      tr.spacer {
        height: 20px;
      }

      .btn-check {
        height: 30px
      }

      tr {
        &.invisible {
          opacity: 0;
        }

        button {
          float: right;
          font-size: 14px;
          &.save {
            background-color: $red;
          }
        }
      }

      td {
        font-size: 14px;
        text-align: right;
        font-family: monospace;
        margin-left: 20px;
        color: orange;
        &.r {
          align-content: right;
        }

        &.success {
          color: $green;
        }
        &.fail {
          color: $red;
        }
      }
    }
  }


}