@import "variables.scss";

.dashboard {
  background-color: white;
  width: 350px;
  align-self: flex-end;
  overflow-y: auto;
  max-height: calc(100vh - 45px);

  .display-text {
    margin-right: 64px;
    padding-left: 20px;
  }

  pre {
    color: white!important;
  }

  h2 {
    margin-bottom: 4px;
    padding-top: 10px;
    flex: 2;
    color: $font-color;
    font-size: $font-size-medium;
    text-align: center;
  }

  .controls {
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;

    .ctrl {
      display: flex;
      justify-content: center;
      padding-top: 4px;
      flex-flow: row;

      .offset {
        padding-left: 20px;
        width: 30px;
      }
    }

    .btns {
      padding-bottom: 2px;
      i {
        width: 14px;
        height: 12px;
        padding: 3px 6px;
        border-radius: 2px;
        background-color: #DDD;
        text-align: center;
        margin-left: 4px;
        &:hover {
          background-color: $hashtag-blue;
          color: white;
        }
      }
    }
  }
}