@import 'variables.scss';

.dashboard {
  align-self: flex-end;
  background-color: #fff;
  max-height: calc(100vh - 45px);
  overflow-y: auto;
  width: 350px;

  .display-text {
    margin-right: 64px;
    padding-left: 20px;
  }

  pre {
    color: #fff !important;
  }

  h2 {
    color: $font-color;
    flex: 2;
    font-size: $font-size-medium;
    margin-bottom: 4px;
    padding-top: 10px;
    text-align: center;
  }

  .controls {
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;

    .ctrl {
      display: flex;
      flex-flow: row;
      justify-content: center;
      padding-top: 4px;

      .offset {
        padding-left: 20px;
        width: 30px;
      }
    }

    .btns {
      padding-bottom: 2px;
      i {
        background-color: #ddd;
        border-radius: 2px;
        height: 12px;
        margin-left: 4px;
        padding: 3px 6px;
        text-align: center;
        width: 14px;
        &:hover {
          background-color: $hashtag-blue;
          color: #fff;
        }
      }
    }
  }
}
