@import "variables.scss";

.entry-with-comments {
  margin: 0 0 0.25em 0;
  background: $entry-bg;
  height: inherit;
  flex-shrink: 0;

  .thumbnails {
    overflow-y: auto;
    margin: 0 4px;

    .carousel .slide img {
      height: 260px;
      width: auto;
    }

    .carousel {

    }
  }
}

.entry {
  padding: 0.5em 0.8em 0.2em 0.8em;
  font-size: $font-size-medium;

  .entry-text {
    padding-bottom: 10px;
  }

  .active {
    border: 1px solid red;
  }

  .fa-floppy-o {
    padding-right: 5px;
  }

  .entry-footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    .pomodoro {
      display: flex;
      align-items: center;

      .completed {
        color: $green;
        font-size: 1em;
      }

      .dur {
        margin-right: 0.3em;
        font-family: monospace;
        font-size: $font-size-small;
      }

      .btn {
        margin-left: 0.5em;
      }

      .fas {
        padding-right: 5px;
        cursor: pointer;
      }

      .start-stop {
      }

      .start {
        color: $green;
      }
      .stop {
        color: $red;
      }
      input {
        min-width: 60px;
        font-size: $font-size-small;
      }
    }
  }

  .footer {
    display: flex;

    .word-count {
      flex: 1;
      font-size: $font-size-small;
      text-align: right;
      color: $body-background-color;
    }
    .likes {
      flex: 1;
    }
  }

  .hashtags {
    span {
      cursor: pointer;
    }
  }

  img {
    width: 100%;
  }

  .more {
    padding: 1px 30px 1px 0;
  }

  pre {
    margin: 0;
    code {
      white-space: pre-wrap;
    }
  }

  div > div > pre > code {
    font-size: $font-size-medium;
  }

  select {
    margin-right: 10px;
  }

  label {
    margin-right: 4px;
  }

  h1, h2 {
    font-size: $font-size-large;
    margin-top: 0.2em;
  }

  h3 {
    font-size: $font-size-medium;
    margin-top: 0.2em;
  }

  .edit-md pre code {
    font-family: $font-family;
    outline: none;
  }

  .edit-md {
    padding-bottom: 5px;
  }

  .entry .mention-link {
    color: $mention-link;
    font-weight: bold;
  }

  .header-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    height: 14px;

    .geoname {
      font-size: $font-size-small;
      display: flex;
    }

    .loc {
      padding-right: 3px;
    }
    .fa {
      padding-top: 7px;
      padding-left: 0;
    }

    .flag {
      position: relative;
      font-size: $font-size-medium;
      top: -2px;
    }
    .fa {
      position: relative;
      padding-left: 4px;
    }
    .up {
      top: -8px;
    }
  }

  .header {
    line-height: 1.4em;
    overflow-wrap: normal;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    .starred {
      color: gold;
      font-weight: 900;
    }

    .actions {
      flex: 2;
      align-items: flex-end;
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;

      .items {
        white-space: nowrap;
      }

      .fa {
        margin: 0;
        padding: 2px 2px 8px 3px;
        font-size: 11px;
      }
    }

    time {
      font-size: 0.6em;
    }

    a time {
      cursor: pointer;
    }

    div:nth-child(2) {
      flex-grow: 1;
      flex-shrink: 0;
      padding-left: 10px;

      .incomplete {
        font-size: 1em;
        color: #999;
      }
      .completed {
        color: $green;
        font-size: 1em;
      }
      .completed-cnt {
        color: $green;
        font-size: 0.8em;
        font-weight: bold;
        padding-right: 0.3em;
      }
      .incomplete-cnt {
        color: #999;
        font-size: 0.8em;
        font-weight: bold;
        padding-right: 0.3em;
      }
      .fa-bolt {
        color: $red;
        font-size: 1em;
      }
      .bolt-cnt {
        color: $red;
        font-size: 0.8em;
        font-weight: bold;
      }
      .dur {
        margin-left: 0.2em;
        margin-right: 0.3em;
        font-size: 0.8em;
        font-weight: bold;
      }
      .fa {
        margin-right: 0.1em;
      }
    }

    div:nth-child(3) {
      flex-grow: 1;
      flex-shrink: 0;
    }

    div:nth-child(4) {
      flex-grow: 2;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: wrap;
      transition: opacity 0.5s;
    }
  }

  .pomodoro {
    .btn {
      margin-left: 0.5em;
      margin-right: 0;
      padding-right: 1px;
      top: -2px;
      position: relative;
      font-size: 1.4em;
    }
    .start {
      color: $green;
    }
    .stop {
      color: $red;
    }
    input {
      min-width: 60px;
      font-size: $font-size-small;
    }
  }

  p, ul {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
  }
}

.comments {
  > .entry {
  }
  .entry:nth-child(even) {
    background-color: lighten($hashtag-blue, 40%);
  }
}

.show-comments {
  margin-top: -2px;
  height: 22px;

  span {
    margin-left: 0.8em;
    padding: 1px 5px;
    color: white;
    background-color: lighten(desaturate($hashtag-blue, 35%), 15%);
    cursor: pointer;
    font-size: $font-size-small;
  }
}

.markdown h1:first-child {
  margin-top: 0;
}

.briefing {
  display: flex;
  flex-direction: column;

  .summary {
    font-size: $font-size-medium;
    margin-bottom: 12px;
  }

  svg {
    &.vertical-bar {
      width: 100vw;
      height: 300px;
    }
    &.planned-actual {
      width: 300px;
    }
  }

  form {
    flex-grow: 1;
  }

  .stacked-bars {
    width: 60px;
    padding: 10px 0 0 10px;
    display: flex;

    div {
      width: 14px;
    }
  }
}

.questionnaire {
  user-select: none;

  .expand-toggle {
    color: #aaa;
    margin-left: 5px;
  }

  ol {
    margin: 0.4em;
    padding-left: 20px;
  }

  .multi-line {
    margin-top: 5px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: rgba(233, 233, 233, 0.9);
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  label {
    display: inline-block;
    min-width: 85px;
  }
  .missing {
    color: darkred;
    font-weight: bold;
  }
  .range {
    .opt {
      display: inline-block;
      padding: 3px 8px;
      text-align: center;
      color: #AAA;
      background-color: #f0f0f0;
      margin: 2px;
      cursor: pointer;

      &.sel {
        color: #666;
        font-weight: bold;
        background-color: lightgreen;
      }
    }
  }
  .agg {
    .res {
      font-weight: bold;
      display: inline-block;
      margin: 0 8px 0 4px;
    }
    padding-bottom: 5px;
  }
  cite {
    font-size: $font-size-small;
  }
}

.task-details, .habit-details, .custom-fields {
  fieldset {
    border: $edit-menu-bg 1px dashed;
  }
}

.custom-fields, .briefing-details, .task-details, .habit-details {
  font-size: $font-size-medium;
  margin: 0.5em 0;

  table {
    border-collapse: collapse;
    margin-bottom: 4px;

    .prio {
      min-width: 12px;
      text-align: center;
      display: inline-block;
      color: white;
      font-weight: bold;
      background-color: #BBB;
      padding: 0 2px;
    }
    .A {
      background-color: $red;
    }
    .B {
      background-color: $link-color;
    }

    th {
      background-color: $edit-menu-bg;
    }

    tr {
      cursor: pointer;
      height: 1.3em;

      &:hover {
        background-color: antiquewhite;
      }
      &.selected {
        background-color: desaturate(lighten($hashtag-blue, 30), 15);
      }
      &.active-timer {
        background-color: desaturate(lighten($green, 40), 15);
      }
      &.active-timer-selected {
        background-color: desaturate(lighten($green, 30), 10);
      }
      &.active-timer-selected-busy {
        background-color: desaturate(lighten($red, 35), 10);
      }
      &.active-timer-busy {
        background-color: desaturate(lighten($red, 40), 15);
      }
    }

    td {
      .legend {
        height: 1.3em;
        width: 12px;
      }

      &.left {
        text-align: left;
      }

      &.time {
        text-align: center;
        min-width: 50px;
      }
    }
  }

  label {
    white-space: nowrap;
  }
  input {
    width: 90px;
    padding: 1px 2px;
    font-size: $font-size-small;
  }
  input[type="number"], input[type="time"] {
    width: 65px;
  }
  input[type="text"] {
    width: 120px;
    &.url {
      width: 330px;
    }
  }
  input[type="checkbox"] {
    width: 15px;
  }
  input[type="date"] {
    width: 130px;
  }
  input[type="datetime-local"] {
    width: 150px;
  }
  div {
    line-height: 1.5em;
  }
  .name {
    min-width: 100px;
    margin-right: 5px;
    display: inline-block;
  }
  .allocated, .actual, .remaining {
    min-width: 50px;
    display: inline-block;
  }
}

.task-details, .habit-details {
  div {
    margin: 3px 0;
  }
  input[type="number"] {
    width: 45px !important;
    margin-right: 8px;
  }
  span {
    white-space: nowrap;
  }
  time {
    font-weight: bold;
  }
}

.habit-details {
  .bonus {
    color: $green;
  }
  .penalty {
    color: $red;
  }
}

.linked-tasks {
  margin-top: 6px;
  div {
    display: flex;
  }
}

u {
  text-decoration-skip: ink;
}

.habits, .tasks {
  width: 100%;
  .fa-diamond {
    color: $green;
    &.penalty {
      color: $red;
    }
  }
  .xs {
    width: 10px;
    padding-left: 2px;
  }
  .fa-star {
    color: gold;
  }
  .fa-unlink {
    cursor: not-allowed;
  }
  .award-points, .estimate {
    padding: 0 3px 0 2px;
    text-align: right;
    width: 20px;

    .neg {
      font-weight: bold;
      color: $red;
    }
  }
  .award-points {
    font-weight: 700;
  }
}

.spotify {
  padding: 4px;

  .title {
    font-weight: bold;
    margin-right: 5px;
  }
  img {
    padding-top: 5px;
  }
}

.flight {
  input[type="text"] {
    width: 120px;
    &.url {
      width: 330px;
    }
  }

  iframe {
    height: 350px;
    width: 100%;
  }
}

.edit-menu {
  background-color: lighten($edit-menu-bg, 7);
  i.fa {
    color: #BBB;
  }

  .active-button {
    background-color: #DDD;
    color: #333;
  }

  @at-root .unsaved .edit-menu {
    background-color: $edit-menu-bg;

    i.fa {
      color: #555;
    }

    .active-button {
      background-color: #BBB;
      color: #333;
    }
  }

  padding: 0 4px;
  margin: 0 -10px 5px -10px;

  .header-2 {
    font-size: 0.9em;
  }
  .header-3 {
    font-size: 0.8em;
  }
  .header-4 {
    font-size: 0.7em;
  }

  .spacer {
    padding: 3px 3px;
  }

  .spacer-sm {
    padding: 3px 1px;
  }

  .fa {
    padding: 4px 2px;
    cursor: pointer;
  }

  .fa-wide {
    padding: 4px 3px;
  }
}
