@import 'variables.scss';

.entry-with-comments {
  background: $entry-bg;
  border-radius: $entry-border-radius;
  flex-shrink: 0;
  height: inherit;
  margin: 0 0 .25em 0;
}

.linked-entry {
  color: #00A000!important;
}

.entry {
  font-size: $font-size-medium;
  padding: 0.5em .8em .2em .8em;

  .fa-trash-alt {
    &:hover {
      color: $red;
    }
  }

  .debug {
    font-size: 0.6em;
  }

  .mapbox {
    height: 200px;
    position: relative;
    width: 100%;

    .fa-trash-alt {
      color: lighten($red, 20);
      cursor: pointer;
      font-size: $font-size-small;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 11;
    }
  }

  .entry-text {
    padding-bottom: 6px;
  }

  .active {
    border: 1px solid #f00;
  }

  .fa-floppy-o {
    padding-right: 5px;
  }

  .entry-footer {
    align-items: center;
    color: $body-background-color;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 5px;
    user-select: none;

    .word-count {
      color: $body-background-color;
      flex: 1;
      font-family: monospace;
      font-size: $font-size-small;
      padding-top: 4px;
      text-align: right;
    }

    .likes {
      flex: 1;
    }

    .pomodoro {
      margin-right: 2px;

      .completed {
        color: $green;
        font-size: 1em;
      }

      .dur {
        font-family: monospace;
        font-size: $font-size-small;
        margin-right: 6px;
      }

      .fas {
        cursor: pointer;
        padding-right: 5px;
      }

      .start-stop {
      }

      .start {
        color: $green;
      }

      .stop {
        color: $red;
      }

      input {
        font-size: $font-size-small;
        min-width: 60px;
      }

      i {
        font-size: $font-size-large;
      }
    }
  }

  .hashtags {
    span {
      border-radius: 2px;
      cursor: pointer;
    }
  }

  img {
    width: 100%;
  }

  .more {
    padding: 1px 30px 1px 0;
  }

  pre {
    margin: 0;

    code {
      white-space: pre-wrap;
    }
  }

  div > div > pre > code {
    font-size: $font-size-medium;
  }

  select {
    margin-right: 10px;
  }

  label {
    margin-right: 4px;
  }

  h1, h2 {
    font-size: $font-size-large;
    margin-top: .2em;
  }

  h3 {
    font-size: $font-size-medium;
    margin-top: .2em;
  }

  .edit-md pre code {
    font-family: $font-family;
    outline: none;
  }

  .edit-md {
    padding-bottom: 5px;
  }

  .entry .mention-link {
    color: $mention-link;
    font-weight: bold;
  }

  .header-1 {
    display: flex;
    justify-content: space-between;

    .geoname {
      display: flex;
      font-size: $font-size-small;
    }

    .loc {
      padding-right: 3px;
    }

    .fa {
      padding-left: 0;
      padding-top: 7px;
    }

    .flag {
      font-size: $font-size-medium;
      position: relative;
      top: -2px;
    }

    .fa {
      padding-left: 4px;
      position: relative;
    }

    .up {
      top: -8px;
    }
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.4em;
    overflow-wrap: normal;
    width: 100%;

    .action-row {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
    }

    .starred {
      color: #ffd700;
      font-weight: 900;
    }

    .flagged {
      color: $red;
      font-weight: 900;
    }

    .actions {
      align-items: flex-end;
      display: flex;
      flex: 2;
      flex-wrap: nowrap;
      justify-content: flex-end;

      .items {
        white-space: nowrap;
      }

      i {
        &.album-activated {
          color: $green;
        }
      }

      .fa {
        font-size: 11px;
        margin: 0;
        padding: 1px 0 5px 3px;

        &.album-activated {
          color: $green;
        }
      }
    }

    .datetime {
      display: flex;
      font-size: $font-size-xs;
      width: 100%;

      time {
        font-weight: bold;
      }

      .visit {
        font-weight: lighter;
        margin-left: 6px;

        time {
          font-weight: normal;
        }
      }

      .adjust {
        display: flex;
        width: 100%;

        input {
          font-size: $font-size-xs;
          height: auto;
          margin: 0;
          padding: 0 0 0 3px;
          width: 150px !important;
        }

        i {
          color: #999;
          cursor: pointer;
          font-size: $font-size-medium;
          padding: 3px 3px;
        }

      }

      time {
        cursor: pointer;
        user-select: none;

        &.adjusted {
          color: $red;
        }
      }
    }

    a time {
      cursor: pointer;
    }

    div:nth-child(2) {
      flex-grow: 1;
      flex-shrink: 0;
      text-align: center;

      .incomplete {
        color: #999;
        font-size: 1em;
      }

      .completed {
        color: $green;
        font-size: 1em;
      }

      .completed-cnt {
        color: $green;
        font-size: .8em;
        font-weight: bold;
        padding-right: 0.3em;
      }

      .incomplete-cnt {
        color: #999;
        font-size: .8em;
        font-weight: bold;
        padding-right: 0.3em;
      }

      .fa-bolt {
        color: $red;
        font-size: 1em;
      }

      .bolt-cnt {
        color: $red;
        font-size: .8em;
        font-weight: bold;
      }

      .dur {
        font-size: .8em;
        font-weight: bold;
        margin-left: .2em;
        margin-right: 0.3em;
      }
    }

    div:nth-child(3) {
      flex-grow: 1;
      flex-shrink: 0;
    }

    div:nth-child(4) {
      align-items: flex-end;
      display: flex;
      flex-grow: 2;
      flex-wrap: wrap;
      justify-content: flex-end;
      transition: opacity 0.5s;
    }
  }

  p, ul {
    margin-bottom: .4em;
    margin-top: .2em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
  }
}

.comments {
  > .entry {
  }

  .entry:nth-child(even) {
    background-color: lighten($hashtag-blue, 40%);
  }
}

.show-comments {
  height: 22px;
  margin-top: -2px;

  span {
    background-color: lighten(desaturate($hashtag-blue, 35%), 15%);
    color: #fff;
    cursor: pointer;
    font-size: $font-size-small;
    margin-left: .8em;
    padding: 1px 5px;
  }
}

.markdown h1:first-child {
  margin-top: 0;
}

.custom-fields {
  margin-bottom: 6px;

  label {
    display: inline-block;
    min-width: 80px;
    text-align: end;
    width: 100%;
  }
}

.task-details, .habit-details, .custom-fields {
  fieldset {
    border: $edit-menu-bg 1px dashed;
  }

  h2 {
    font-weight: lighter;
    margin-top: 8px;
  }

  .overview {
    left: auto;
    position: relative;
    right: 0;

    .click {
      color: #aaa;
      cursor: pointer;
      padding: 3px;

      i {
        font-size: 1.2em;
      }

      &.done {
        color: $green;
      }

      &.hold, &.closed {
        color: $red;
      }
    }
  }
}

input {
  border: 0;
  border-radius: $entry-border-radius;
  //border:1px solid #CCC;
  box-shadow: 0 0 2px #aaa;
  color: #444;
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: bold;
  height: 20px;
  outline: none !important;
  padding: 3px 6px;
}

input[type="number"] {
  margin-right: 8px;
  width: 100px !important;
}

input[type="checkbox"] {
  height: 12px;
}

input[type="time"] {
  margin-right: 8px;
  width: 100px !important;
}

input[type="datetime-local"] {
  margin-right: 8px;
  width: 170px !important;
}

.task-details, .habit-details {
  span {
    white-space: nowrap;
  }

  time {
    font-weight: bold;
  }
}

.habit-details {
  .bonus {
    color: $green;
  }

  .penalty {
    color: $red;
  }
}

u {
  text-decoration-skip: ink;
}

.briefing-details {
  margin: 2px -9px 5px -9px;
}

.habits, .tasks {
  font-size: $font-size-small;
  width: 100%;

  .fa-diamond {
    color: $green;

    &.penalty {
      color: $red;
    }
  }

  .xs {
    padding-left: 0;
    width: 10px;
  }

  .fa-star {
    color: #ffd700;
  }

  .fa-unlink {
    cursor: default;
  }

  .award-points, .estimate {
    text-align: right;
    width: 32px;

    .neg {
      color: $red;
      font-weight: 400;
    }
  }

  .time-ago {
    white-space: nowrap;
  }
}

.spotify {
  .title {
    font-weight: bold;
    margin-right: 5px;
  }

  img {
    padding-top: 5px;
  }
}

.flight {
  input[type="text"] {
    width: 120px;

    &.url {
      width: 330px;
    }
  }

  iframe {
    height: 350px;
    width: 100%;
  }
}

.edit-menu {
  background-color: lighten($edit-menu-bg, 7);

  i.fa {
    color: #bbb;
  }

  .active-button {
    background-color: #ddd;
    color: #333;
  }

  i.fa-save {
    margin-right: 3px;
  }

  @at-root .unsaved .edit-menu {
    background-color: $edit-menu-bg;

    i.fa {
      color: #555;
    }

    .active-button {
      background-color: #bbb;
      color: #333;
    }

    i.fa-save {
      background-color: $red;
      color: #fff;
      font-weight: 500;
    }
  }

  margin: 0 -9px 5px -9px;
  padding: 0 4px;

  .header-2 {
    font-size: .9em;
  }

  .header-3 {
    font-size: .8em;
  }

  .header-4 {
    font-size: 0.7em;
  }

  .spacer {
    padding: 3px 3px;
  }

  .spacer-sm {
    padding: 3px 1px;
  }

  .fa {
    cursor: pointer;
    padding: 3px 2px;
  }

  .fa-wide {
    padding: 3px 3px;
  }
}

.validation-error {
  .edit-menu {
    background-color: lighten($red, 10) !important;

    i.fa-save {
      cursor: not-allowed !important;
    }
  }
}

.git-commit {
  font-family: monospace;
  font-size: 0.6em;
  margin-bottom: 5px;

  a, .repo-name {
    font-weight: bold;
  }
}
