@import "variables.scss";

.entry-with-comments {
  margin: 0 0 0.25em 0;
  background: $entry-bg;
  height: inherit;
  flex-shrink: 0;
  border-radius: $entry-border-radius;
}

.entry {
  padding: 0.5em 0.8em 0.2em 0.8em;
  font-size: $font-size-medium;

  .fa-trash-alt {
    &:hover {
      color: $red;
    }
  }

  .debug {
    font-size: 0.6em;
  }

  .mapbox {
    width: 100%;
    height: 200px;
    position: relative;

    .fa-trash-alt {
      position: absolute;
      color: lighten($red, 20);
      top: 5px;
      right: 5px;
      z-index: 11;
      font-size: $font-size-small;
      cursor: pointer;
    }
  }

  .entry-text {
    padding-bottom: 6px;
  }

  .active {
    border: 1px solid red;
  }

  .fa-floppy-o {
    padding-right: 5px;
  }

  .entry-footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    color: $body-background-color;
    padding-top: 5px;

    .word-count {
      flex: 1;
      padding-top: 4px;
      font-size: $font-size-small;
      text-align: right;
      font-family: monospace;
      color: $body-background-color;
    }
    .likes {
      flex: 1;
    }

    .pomodoro {
      margin-right: 2px;

      .completed {
        color: $green;
        font-size: 1em;
      }

      .dur {
        margin-right: 6px;
        font-family: monospace;
        font-size: $font-size-small;
      }

      .fas {
        padding-right: 5px;
        cursor: pointer;
      }

      .start-stop {
      }

      .start {
        color: $green;
      }
      .stop {
        color: $red;
      }
      input {
        min-width: 60px;
        font-size: $font-size-small;
      }

      i {
        font-size: $font-size-large;
      }
    }
  }

  .hashtags {
    span {
      cursor: pointer;
      border-radius: 2px;
    }
  }

  img {
    width: 100%;
  }

  .more {
    padding: 1px 30px 1px 0;
  }

  pre {
    margin: 0;
    code {
      white-space: pre-wrap;
    }
  }

  div > div > pre > code {
    font-size: $font-size-medium;
  }

  select {
    margin-right: 10px;
  }

  label {
    margin-right: 4px;
  }

  h1, h2 {
    font-size: $font-size-large;
    margin-top: 0.2em;
  }

  h3 {
    font-size: $font-size-medium;
    margin-top: 0.2em;
  }

  .edit-md pre code {
    font-family: $font-family;
    outline: none;
  }

  .edit-md {
    padding-bottom: 5px;
  }

  .entry .mention-link {
    color: $mention-link;
    font-weight: bold;
  }

  .header-1 {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;

    .geoname {
      font-size: $font-size-small;
      display: flex;
    }

    .loc {
      padding-right: 3px;
    }
    .fa {
      padding-top: 7px;
      padding-left: 0;
    }

    .flag {
      position: relative;
      font-size: $font-size-medium;
      top: -2px;
    }
    .fa {
      position: relative;
      padding-left: 4px;
    }
    .up {
      top: -8px;
    }
  }

  .header {
    line-height: 1.4em;
    overflow-wrap: normal;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .action-row {
      display: flex;
      flex-flow: row;
      width: 100%;
      justify-content: space-between;
    }
    .starred {
      color: gold;
      font-weight: 900;
    }
    .flagged {
      color: $red;
      font-weight: 900;
    }

    .actions {
      flex: 2;
      align-items: flex-end;
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;

      .items {
        white-space: nowrap;
      }

      .fa {
        margin: 0;
        padding: 1px 0 5px 3px;
        font-size: 11px;
      }
    }

    .datetime {
      font-size: $font-size-xs;
      width: 100%;
      display: flex;
      time {
        font-weight: bold;
      }

      .adjust {
        display: flex;
        margin-bottom: 8px;
        width: 100%;

        input {
          font-size: $font-size-xs;
          padding: 0 0 0 3px;
          width: 120px!important;
          height: auto;
          margin: 0;
        }
        i {
          cursor: pointer;
          padding: 3px 3px;
          color: #999;
          font-size: $font-size-medium;
        }

      }

      time {
        cursor: pointer;
        user-select: none;

        &.adjusted {
          color: $red;
        }
      }
    }

    a time {
      cursor: pointer;
    }

    div:nth-child(2) {
      flex-grow: 1;
      flex-shrink: 0;
      text-align: center;

      .incomplete {
        font-size: 1em;
        color: #999;
      }
      .completed {
        color: $green;
        font-size: 1em;
      }
      .completed-cnt {
        color: $green;
        font-size: 0.8em;
        font-weight: bold;
        padding-right: 0.3em;
      }
      .incomplete-cnt {
        color: #999;
        font-size: 0.8em;
        font-weight: bold;
        padding-right: 0.3em;
      }
      .fa-bolt {
        color: $red;
        font-size: 1em;
      }
      .bolt-cnt {
        color: $red;
        font-size: 0.8em;
        font-weight: bold;
      }
      .dur {
        margin-left: 0.2em;
        margin-right: 0.3em;
        font-size: 0.8em;
        font-weight: bold;
      }
    }

    div:nth-child(3) {
      flex-grow: 1;
      flex-shrink: 0;
    }

    div:nth-child(4) {
      flex-grow: 2;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: wrap;
      transition: opacity 0.5s;
    }
  }

  p, ul {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
  }
}

.comments {
  > .entry {
  }
  .entry:nth-child(even) {
    background-color: lighten($hashtag-blue, 40%);
  }
}

.show-comments {
  margin-top: -2px;
  height: 22px;

  span {
    margin-left: 0.8em;
    padding: 1px 5px;
    color: white;
    background-color: lighten(desaturate($hashtag-blue, 35%), 15%);
    cursor: pointer;
    font-size: $font-size-small;
  }
}

.markdown h1:first-child {
  margin-top: 0;
}

.custom-fields {
  margin-bottom: 6px;

  label {
    display: inline-block;
    min-width: 80px;
    text-align: end;
    width: 100%;
  }
}

.task-details, .habit-details, .custom-fields {
  fieldset {
    border: $edit-menu-bg 1px dashed;
  }

  h2 {
    margin-top: 8px;
    font-weight: lighter;
  }

  .overview {
    position: relative;
    left: auto;
    right: 0;

    .click {
      padding: 3px;
      cursor: pointer;
      color: #AAA;

      i {
        font-size: 1.2em;
      }
      &.done {
        color: $green;
      }
      &.hold, &.closed {
        color: $red;
      }
    }
  }
}

input {
  border-radius: $entry-border-radius;
  outline: none !important;
  //border:1px solid #CCC;
  border: none;
  box-shadow: 0 0 2px #AAA;
  padding: 3px 6px;
  font-size: $font-size-medium;
  font-weight: bold;
  color: #444;
  height: 20px;
  display: inline-block;
}

input[type="number"] {
  width: 100px !important;
  margin-right: 8px;
}

input[type="checkbox"] {
  height: 12px;
}

input[type="time"] {
  width: 100px !important;
  margin-right: 8px;
}

input[type="datetime-local"] {
  width: 170px !important;
  margin-right: 8px;
}

.task-details, .habit-details {
  span {
    white-space: nowrap;
  }
  time {
    font-weight: bold;
  }
}

.habit-details {
  .bonus {
    color: $green;
  }
  .penalty {
    color: $red;
  }
}

u {
  text-decoration-skip: ink;
}

.briefing-details {
  margin: 2px -9px 5px -9px;
}

.habits, .tasks {
  width: 100%;
  font-size: $font-size-small;

  .fa-diamond {
    color: $green;
    &.penalty {
      color: $red;
    }
  }
  .xs {
    width: 10px;
    padding-left: 2px;
  }
  .fa-star {
    color: gold;
  }
  .fa-unlink {
    cursor: default;
  }
  .award-points, .estimate {
    text-align: right;
    width: 32px;

    .neg {
      font-weight: 400;
      color: $red;
    }
  }
  .award-points {
    //font-weight: 700;
  }
}

.spotify {
  padding: 4px;

  .title {
    font-weight: bold;
    margin-right: 5px;
  }
  img {
    padding-top: 5px;
  }
}

.flight {
  input[type="text"] {
    width: 120px;
    &.url {
      width: 330px;
    }
  }

  iframe {
    height: 350px;
    width: 100%;
  }
}

.edit-menu {
  background-color: lighten($edit-menu-bg, 7);
  i.fa {
    color: #BBB;
  }

  .active-button {
    background-color: #DDD;
    color: #333;
  }

  i.fa-save {
    margin-right: 3px;
  }

  @at-root .unsaved .edit-menu {
    background-color: $edit-menu-bg;

    i.fa {
      color: #555;
    }

    .active-button {
      background-color: #BBB;
      color: #333;
    }

    i.fa-save {
      background-color: $red;
      color: white;
      font-weight: 500;
    }
  }

  padding: 0 4px;
  margin: 0 -9px 5px -9px;

  .header-2 {
    font-size: 0.9em;
  }
  .header-3 {
    font-size: 0.8em;
  }
  .header-4 {
    font-size: 0.7em;
  }

  .spacer {
    padding: 3px 3px;
  }

  .spacer-sm {
    padding: 3px 1px;
  }

  .fa {
    padding: 3px 2px;
    cursor: pointer;
  }

  .fa-wide {
    padding: 3px 3px;
  }
}

.validation-error {
  .edit-menu {
    background-color: lighten($red, 10)!important;

    i.fa-save {
      cursor: not-allowed!important;
    }
  }
}

.conflict {

  .warn {
    background-color: $red;
    color: white;
    padding: 5px 10px;

    .fa {
      padding-right: 5px;
    }
  }
}

.git-commit {
  font-family: monospace;
  font-size: 0.6em;
  margin-bottom: 5px;

  a, .repo-name {
    font-weight: bold;
  }
}
