@import "variables.scss";

.tile-tabs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: $tab-bg;
}

.tile-journal {
  background-color: $body-background-color;
}

.grid {
  .wrapper {
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    grid-template-columns: 0 minmax(250px, 1fr) minmax(250px, 1fr);
    grid-template-rows: 50px minmax(100px, 2fr) 16px;
  }
  .col-3 {
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr);
  }

  .menu {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .briefing {
    grid-column: 1;
    grid-row: 2;
  }
  .single {
    grid-column: 2 / 4;
    grid-row: 2;
  }
  .left {
    grid-column: 3;
    grid-row: 2;
  }
  .right {
    grid-column: 4;
    grid-row: 2;
  }
  .footer {
    grid-column: 1 / 4;
    grid-row: 3;
  }
}

.charts-grid {
  .wrapper {
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    grid-template-columns: minmax(250px, 2fr) minmax(250px, 1fr);
    grid-template-rows: 72px 160px minmax(100px, 2fr);
  }

  .durations {
    grid-column: 1;
    grid-row: 1 / 2;

    svg {
      width: 500px;
    }
  }
  .award {
    grid-column: 2;
    grid-row: 1;
  }
  .custom {
    grid-column: 1 ;
    grid-row: 3 / 4;
  }
  .questionnaires {
    grid-column: 1 ;
    grid-row: 4;
  }
  .stats {
    grid-column: 2;
    grid-row: 2 / 4;
  }
}
