@import "variables.scss";

.tile-tabs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: $tab-bg;
}

.tile-journal {
  background-color: $body-background-color;
}

.grid {
  .wrapper {
    display: grid;
    height: calc(100vh - 16px);
    grid-gap: 4px;
    grid-template-columns: 210px fit-content(110px) 300px minmax(250px, 1fr);
    grid-template-rows: 32px minmax(0, 2fr) fit-content(95vh);
  }
  .col-3 {
    grid-template-columns: 210px fit-content(110px) 300px minmax(250px, 1fr) minmax(250px, 1fr)!important;
  }

  .menu {
    grid-column: 1 / 6;
    grid-row: 1;
  }
  .inf-cal {
    grid-column: 1;
    grid-row: 2/3;
  }
  .cal {
    grid-column: 2;
    grid-row: 2/4;
  }
  .briefing {
    grid-column: 3;
    grid-row: 2 / 3;
  }
  .single {
    grid-column: 4 / 6;
    grid-row: 2;
  }
  .left {
    grid-column: 4;
    grid-row: 2;
  }
  .right {
    grid-column: 5;
    grid-row: 2;
  }
  .footer {
    grid-column: 3 / 6;
    grid-row: 3;
    overflow: auto;
    user-select: none;

    .fa {
      font-size: 1.1em;
      cursor: pointer;
      padding-left: 10px;
      color: #666;
    }

    .durations {
      svg {
        width: 100vw;
      }
    }
  }
}

.charts-grid {
  .wrapper {
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    grid-template-columns: minmax(250px, 2fr) minmax(250px, 1fr);
    grid-template-rows: 72px 160px minmax(100px, 2fr);
  }

  .durations {
    grid-column: 1/2;
    grid-row: 1 / 2;

    svg {
      width: 100vw;
    }
  }
  .award {
    grid-column: 2;
    grid-row: 3;
  }
  .questionnaires {
    grid-column: 1 ;
    grid-row: 4;
  }
  .stats {
    grid-column: 2;
    grid-row: 2 / 4;
  }
}
