@import "variables.scss";

.updater {
  padding: 6px 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: lighten(desaturate(orange, 10), 10);
  width: 450px;
  height: 150px;

  button {
    background-color: $hashtag-blue;
    padding: 4px 10px 6px 10px;
    font-size: $font-size-medium;
    font-family: $header-font-family;

    &:focus {
      outline:0;
    }
  }

  .info {
    padding: 1em 0 2em 0;
  }
}

// adapted from https://css-tricks.com/css3-progress-bars/
.meter {
  height: 16px;
  position: relative;
  background: $body-background-color;
  border-radius: 6px;
  padding: 4px;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: $green;
  position: relative;
  overflow: hidden;
}
