@import "variables.scss";

.updater {
  z-index: 1111;
  padding: 10px 24px;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: white;
  width: 360px;
  height: auto;
  border-top-left-radius: 10px;
  border-left: $red solid 4px;
  border-top: $red solid 4px;

  .fa-chevron-double-down, .fa-chevron-double-up {
    position: absolute;
    right: 8px;
    bottom: 12px;
    cursor: pointer;
  }

  h2 {
    margin-top: 6px;
    margin-bottom: 10px;
  }

  button {
    background-color: $hashtag-blue;
    padding: 4px 10px 6px 10px;
    font-size: $font-size-medium;
    font-family: $header-font-family;

    &:focus {
      outline:0;
    }
  }

  .info {
    padding: 12px 0;
  }
}

// adapted from https://css-tricks.com/css3-progress-bars/
.meter {
  height: 10px;
  position: relative;
  background-color: #DDD;
  border-radius: 6px;
  padding: 3px;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: $orange;
  position: relative;
  overflow: hidden;
}
