@import 'variables.scss';

#content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  min-height: 0;
}

.tabs-header {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 2px;

  .tab-items {
    display: flex;
    margin-right: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  .tab-item {
    background-color: #fff;
    border-bottom: 3px inset $tab-bg;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    display: flex;
    font-family: $header-font-family;
    font-size: .8em;
    font-weight: 300;
    height: 16px;
    margin: 0 2px 0 0;
    min-width: 14px;
    padding: 3px;
    position: relative;
    white-space: nowrap;

    &.add-tab {
      background-color: lighten($green, 10);
      color: lighten($green, 50);
      font-weight: bold;
      min-width: 9px;
      padding-left: 6px;
    }

    &.full {
      border-radius: $entry-border-radius;
      font-size: $font-size-large;
      margin: 6px;
      padding: 8px 18px 8px 10px;

      .fa-plus {
        margin-left: 6px !important;
        margin-right: 16px;
      }
    }

    &.close-all {
      background-color: lighten($red, 30);
      color: #999;
      font-weight: bold;

      span {
        margin-top: 7px;
      }

      i {
        margin-top: 1px;
      }
    }

    .fa {
      padding-top: 1px;
    }

    .fa-times {
      cursor: default;
      position: absolute;
      right: 2px;
      top: 0;
    }
  }

  .active {
    border-bottom-style: inset;
    border-bottom-width: 6px;
    font-weight: 400;
    height: 13px;
  }
}

.journal {
  display: flex;
  flex-flow: row;
  height: 100%;
  min-height: 0;
}

.journal-entries {
  flex: 1;
  flex-flow: column;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;

  .search-field {
    flex-grow: 0;
  }
}

.new-entries {
  align-items: center;
  background-color: rgba(55,55,55,0.7);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1111;

  .new-entries-list {
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 6em 0.6em 5em .4em;
    max-height: 80%;
    max-width: 600px;
    min-height: 70%;
    overflow-y: auto;
  }
}
