.manual {
  background-color: white;
  margin-top: 22px;
  height: calc(100vh - 22px);
  overflow-y: auto;
  width: 100%;

  img {
    max-width: 90vw;
    width: auto;
  }

  .md {
    padding: 8px 32px;
  }



}