@import "variables.scss";

.menu-header {
  flex: 0 0 auto;
  display: flex;
  z-index: 1004;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  background-color: $menu-bg;
  padding: 0 110px 0 0;

  .new-import {
    padding-left: 10px;
  }

  img {
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    margin: -4px -4px;
    z-index: 111;
    clip-path: inset(4px 4px 4px 4px);
    -webkit-clip-path: inset(4px 4px 4px 4px);
  }

  h1 {
    padding-left: 30px;
    color:white;
    font-size: 1.5em;
    flex: 2;
  }

  button {
    font-size: 0.8em;
    margin-right: 5px;
    height: 22px;
  }

  .fa {
    font-size: 1.2em;
  }

  .busy-status {
    height: 50px;
    width: 25px;
    padding-right: 20px;

    &.red {
      background-color: $red;
    }
    &.green {
      background-color: $green;
    }
    &.orange {
      background-color: $orange;
    }
  }
}
