@import 'variables.scss';

.menu-header {
  -webkit-app-region: drag;
  align-items: center;
  background-color: $menu-bg;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row;
  height: 25px;
  justify-content: space-between;
  padding-left: 70px;
  user-select: none;
  width: 100%;
  z-index: 1004;

  .new-import {
    padding-left: 10px;
  }

  img {
    -webkit-clip-path: inset(4px 4px 4px 4px);
    clip-path: inset(4px 4px 4px 4px);
    margin: -4px -4px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 111;
  }

  h1 {
    color: #f5f5f5;
    font-family: $header-font-family;
    font-size: $font-size-meins-header;
    padding-left: 100px;
  }

  button {
    font-size: $font-size-medium;
    height: 22px;
    margin-right: 5px;
  }

  i {
    cursor: pointer;
    font-size: $font-size-medium;
  }
}

.busy-status {
  cursor: pointer;
  height: 100%;
  width: 100%;

  &.red {
    background-color: $red;
  }

  &.green {
    background-color: $green;
  }

  &.orange {
    background-color: $orange;
  }
}
