@import "variables.scss";

.menu-header {
  -webkit-app-region: drag;
  width: 100%;
  user-select: none;
  flex: 0 0 auto;
  display: flex;
  z-index: 1004;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background-color: $menu-bg;
  padding: 0 100px 0 0;

  .new-import {
    padding-left: 10px;
  }

  img {
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    margin: -4px -4px;
    z-index: 111;
    clip-path: inset(4px 4px 4px 4px);
    -webkit-clip-path: inset(4px 4px 4px 4px);
  }

  h1 {
    padding-left: 100px;
    font-size: $font-size-meo-header;
  }

  button {
    font-size: $font-size-medium;
    margin-right: 5px;
    height: 22px;
  }

  i {
    font-size: $font-size-large;
  }

  .busy-status {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    margin: 0 auto 0 12px;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 10px;

    &.red {
      background-color: $red;
    }
    &.green {
      background-color: $green;
    }
    &.orange {
      background-color: $orange;
    }
  }
}
