@import "variables.scss";

.new-link-btn {
  position: relative;
  display: inline-block;

  .new-link {
    position: absolute;
    z-index: 1002;
    margin-top: 1.5em;
    margin-left: -120px;
    cursor: pointer;
    font-weight: bold;
    padding: 1px 2px;

    .fa-plus-square {
      margin: 5px 5px 0 0;
    }
  }
}
