@import 'variables.scss';

.post-mortem {
  margin: 20px 0;

  .input {
    &.time {
      width: 60px !important;

    }
  }

  select {
    width: 90px;
  }
}

.post-mortem-timeline {
  background-color: #fff;
  height: 70px;

  ul:first-of-type {
    opacity: 0;
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }
}
