@import "variables.scss";

.post-mortem {
  margin: 20px 0;

  .input {
    &.time {
      width: 60px!important;

    }
  }
  select {
    width: 90px;
  }
}

.post-mortem-timeline {
  background-color: white;
  height: 120px;
  padding-top: 15px;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}
