@import "variables.scss";

.problem {
  font-family: $header-font-family;
  font-size: 12px;
  color: #5d7186;

  .btn {
    background-color: $green;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: $font-size-small;

    &.conclusion {
      width: 50px;
      margin-right: 20px;
      text-align: center;
    }
    &.pivot {
      background-color: $red;
    }
    &.gray {
      background-color: #CCC;
    }
  }

  .name-edit-field {
    padding: 4px 6px;
    background-color: $search-field-color;
    font-family: $header-font-family;
    display: inline-block;
    min-width: 200px;
    margin-bottom: 10px;
    outline: none;
    font-size: $font-size-medium;
    font-weight: bold;
  }

  h2 {
    margin: 10px 0;
  }

  hr {
    height:1px;
    border:none;
    background-color:#5d7186;
  }

  .row {
    display: flex;
    margin-bottom: 8px;
  }

  &.story-name {
    font-size: $font-size-medium;
    font-weight: normal;
    display: flex;
    cursor: pointer;
    margin-bottom: 4px;
    padding: 2px 4px;
    border-radius: $entry-border-radius;

    i {
      margin-right: 6px;
    }

    span {
      &:hover {
        color: $link-color;
      }
    }
  }

  .badge {
    text-align: center;
    .story-badge {
      font-size: $header-font-family;
      font-weight: bold;
      display: inline-block;
      padding: 8px 12px;
      margin: 12px 0 20px 12px;
      border-radius: $entry-border-radius;
    }
  }


  label {
    display: inline-block;
    width: 60px;
    &.wide {
      width: 100%;
    }
  }

  h3 {
    font-size: 12px;
  }

  .saga {
    select {
      min-width: 200px;
      margin: 10px 0 20px 0;
    }

    .fa-toggle-on {
      color: $green;
    }
  }

  .name {
    padding-right: 1em;
  }

  label {
    font-weight: bold;
    padding: 4px 0;
  }

  .stories {
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-size: 2em;
    position: relative;
  }

  .story-list {
    position: absolute;
    background-color: white;
    z-index: 1002;
    padding: 2px 4px 4px 4px;
    white-space: nowrap;
    border: #BBB 1px solid;
  }
}
