@import "variables.scss";

.search {
  padding: 0 0.4em 3px 0;
  flex-flow: column;
  display: flex;
  flex: 0 0 auto;
  background-color: $tab-bg;

  .hashtags {
    height: 20px;
  }
}

.infinite-cal-search {

  .Cal__Header__root {
    padding: 0 16px;
    min-height: 40px;
    display: block;

  }
  .Cal__Container__listWrapper {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .Cal__Weekdays__day {
    padding: 3px 0;
  }

  .Cal__Header__dateWrapper {

    &.Cal__Header__year {
      height: 10px;
      font-size: $font-size-small;
    }
    &.Cal__Header__day {
      //height: 16px;
      font-size: $font-size-large;
    }
  }
  .Cal__Weekdays__root {
    font-size: $font-size-small;
  }

  .Cal__Today__root {
    height: 22px;
    font-size: $font-size-medium;
  }

  .Cal__Day__range {
  }

  .Cal__Day__end {
    color: green;
    height: 36px;
  }

  .Cal__Day__selection {
  }
}

.search-row {
  display: flex;
  background-color: $search-field-color;
  border-radius: 5px;

  &.cal-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  i {
    font-size: 14px;
    padding: 6px;
  }

  .star {
    cursor: pointer;

    i {
      padding-right: 4px;
    }

    .starred {
      color: gold;
    }
  }
  .cal {
    i {
      padding-left: 0;
    }
  }
  .flag {
    cursor: pointer;

    i {
      padding-left: 0;
    }

    .flagged {
      color: $red;
    }
  }
}

.search-field {
  display: flex;
  flex: 1;
  margin: 2px 5px 2px 0;
  padding: 4px;
  min-height: 2em;
  background-color: $search-field-color;

  .DraftEditor-root {
    width: 100%;
  }
}

.linked-search-field {
  display: flex;
  flex: 0 0 auto;
  margin: 2px 0;
  padding: 4px;
  height: 2em;
  background-color: $search-field-color;
}
