@import 'variables.scss';

.search {
  background-color: $tab-bg;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  padding: 0 .4em 3px 0;

  .hashtags {
    height: 20px;
  }
}

.infinite-cal-search {

  .from-to {
    padding: 1px;
    text-align: center;
  }

  .from, .to, .label {
    color: $orange;
    font-family: $header-font-family;
    font-size: $font-size-small;
    font-weight: 400;
    margin-right: 10px;
  }

  .label {
    color: #ccc;
    font-weight: 100;
    margin: 6px;
  }

  .Cal__Header__root {
    border-radius: 0;
    display: block;
    min-height: 30px;
    padding: 0 16px;
  }

  .Cal__Container__listWrapper {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .Cal__Weekdays__day {
    padding: 3px 0;
  }

  .Cal__Header__dateWrapper {

    &.Cal__Header__year {
      font-size: $font-size-small;
      height: 15px;
    }

    &.Cal__Header__day {
      font-size: $font-size-large;
    }
  }

  .Cal__Weekdays__root {
    font-size: $font-size-small;
  }

  .Cal__Today__root {
    font-size: $font-size-medium;
    height: 22px;
  }

  .Cal__Day__range {
  }

  .Cal__Day__end {
  }

  .Cal__Day__selection {
  }

  .header-only {
    .Cal__Header__root {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.search-row {
  background-color: $search-field-color;
  border-radius: 5px;
  display: flex;

  &.cal-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  i {
    font-size: 14px;
    padding: 6px;
  }

  .star {
    cursor: pointer;

    i {
      padding-right: 4px;
    }

    .starred {
      color: #ffd700;
    }
  }

  .cal {
    i {
      padding-left: 0;
    }
  }

  .flag {
    cursor: pointer;

    i {
      padding-left: 0;
    }

    .flagged {
      color: $red;
    }
  }
}

.search-field {
  background-color: $search-field-color;
  display: flex;
  flex: 1;
  margin: 2px 5px 2px 0;
  padding: 4px;

  .DraftEditor-root {
    width: 100%;
  }
}

.linked-search-field {
  background-color: $search-field-color;
  display: flex;
  flex: 0 0 auto;
  height: 2em;
  margin: 2px 0;
  padding: 4px;
}
