@import "variables.scss";

.search {
  padding: 0 0.4em 3px 0;
  flex-flow: column;
  display: flex;
  flex: 0 0 auto;
  background-color: $tab-bg;

  .hashtags {
    height: 20px;
  }
}

.search-row {
  display: flex;
  background-color: $search-field-color;

  i {
    font-size: 16px;
    padding: 6px;
  }

  .star {
    cursor: pointer;

    .starred {
      color: gold;
    }
  }
}

.search-field {
  display: flex;
  flex: 1;
  margin: 2px 5px 2px 0;
  padding: 4px;
  min-height: 2em;
  background-color: $search-field-color;

  .DraftEditor-root {
    width: 100%;
  }
}

.linked-search-field {
  display: flex;
  flex: 0 0 auto;
  margin: 2px 0;
  padding: 4px;
  height: 2em;
  background-color: $search-field-color;
}
