@import 'variables.scss';


.spotify-list {
  align-items: center;
  border-radius: $entry-border-radius;
  font-size: $font-size-medium;
  height: 100vh;
  overflow: auto;
  text-align: center;

  .controls {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    user-select: none;

    .size {
      align-items: center;
      display: flex;
      margin-right: 50px;

      strong {
        color: #aaa;
        display: block;
        font-weight: bold;
        padding-bottom: 2px;
      }

      input {
        box-shadow: none;
        margin-left: 10px;
        width: 450px;
      }
    }


    .spotify-search {
      align-items: center;
      display: flex;
      margin: 5px 0;

      i {
        color: #aaa;
        font-size: 20px;
        padding: 5px;
      }


      input {
        box-shadow: none;
        width: 250px;
      }
    }

  }

  .menu-header {
    height: 40px;
    width: 100vw;
    h2 {
      padding-left: 60px;
      text-align: center;
      width: 90vw;
    }
  }

  .img-container {
    position: relative;
    img {
      cursor: pointer;
      height: 120px;
      padding-top: 0;
      width: 120px;
    }

    .cnt {
      background-color: #999;
      border-radius: 1px;
      color: #eee;
      font-family: $header-font-family;
      font-size: $font-size-small;
      font-weight: bold;
      //mix-blend-mode: exclusion;
      padding: 1px 2px 2px 2px;
      position: absolute;
      right: 4px;
      top: 2px;
    }
  }


  .tooltip {
    display: inline-block;
    position: relative;
  }

  .tooltip .tooltiptext {
    font-family: $header-font-family;
    font-size: $font-size-small;
    margin-top: -30px;
    width: 102px !important;

    .title {
      font-weight: bold;
    }
  }

}
