@import 'variables.scss';

$chart-bg: #fff;
$completed: #4682b4;
$total: lighten($completed, 30);

$completed-weekend: rgb(249, 166, 53);
$total-weekend: lighten($completed-weekend, 30);

$done: rgb(50, 159, 50);
$done-weekend: rgb(65, 189, 70);

$tasks: rgb(188, 30, 30);
$tasks-weekend: lighten($tasks, 30);

$closed: rgba(249, 166, 30, .8);
$closed-weekend: lighten($closed, 30);

$backlog: #ff8c00;
$backlog-weekend: lighten($backlog, 30);

.questionnaires {
  overflow-y: hidden;
  position: relative;

  .controls {
    bottom: 8px;
    position: absolute;
    right: 3px;
    z-index: 1111;

    .display-text {
      font-size: $font-size-small;
      margin-right: 40px;
    }

    input {
      color: #999;
      font-size: $font-size-small;
      height: 14px;
      margin-right: 10px;
      padding: 0 0 0 4px;
      width: 38px !important;
    }

    .fas {
      background-color: #eee;
      border-radius: 2px;
      color: #bbb;
      cursor: pointer;
      float: right;
      font-size: $font-size-small;
      margin-left: 2px;
      padding: 1px 4px;
      &:hover {
        color: #999;
      }

      &:active {
        color: $hashtag-blue;
      }
    }
  }

  .done {
    fill: $done;
  }

  .done-weekend {
    fill: lighten($done, 25);
  }

  .failed {
    fill: $tasks;
  }

  .failed-weekend {
    fill: lighten($tasks, 25);
  }
}

.stats {
  height: 100%;
  overflow: auto;

  button {
    font-size: .8em;
    line-height: .8em;
  }

  .charts {
    display: flex;
    flex-flow: column;
  }

  svg {
    background-color: $chart-bg;
    margin: 2px 0;
    //width: 100%;

    text {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }

    rect:hover {
      opacity: 0.5;
    }

    .bar-bg {
      fill: rgba(0, 0, 0, 0)
    }

    .completed {
      fill: $completed;
    }

    .completed-weekend {
      fill: $completed-weekend;
    }

    .total {
      fill: $total;
    }

    .total-time {
      fill: $completed;
    }

    .total-time-weekend {
      fill: $completed-weekend;
    }

    .total-weekend {
      fill: $total-weekend;
    }

    .done {
      fill: $done;
    }

    .done-weekend {
      fill: $done-weekend;
    }

    .tasks {
      fill: $tasks;
    }

    .tasks-weekend {
      fill: $tasks-weekend;
    }

    .failed {
      fill: lighten($tasks, 30)
    }

    .failed-weekend {
      fill: lighten($tasks-weekend, 10)
    }

    .closed {
      fill: $closed;
    }

    .closed-weekend {
      fill: $closed-weekend;
    }

    .backlog {
      fill: $backlog;
    }

    .backlog-weekend {
      fill: $backlog-weekend;
    }

    .line {
      polyline {
        fill: none;
        stroke-width: 4;
      }

      circle {
        fill: #d3d3d3;
        stroke-width: 1;
      }
    }

    .lbm {
      opacity: 0.5;
      polyline {
        fill: none;
        stroke: #808080;
        stroke-width: 4;
      }

      circle {
        fill: #d3d3d3;
        stroke: #808080;
        stroke-width: 1;
      }
    }

    .weight {
      polyline {
        fill: none;
        stroke: #4682b4;
        stroke-width: 3;
      }

      circle {
        fill: #add8e6;
        stroke: #4682b4;
        stroke-width: 1;
      }
    }

    .girth {
      polyline {
        fill: none;
        stroke: $done;
        stroke-width: 3;
      }

      circle {
        fill: lighten($done, 20);
        stroke: $done;
        stroke-width: 1;
      }
    }
  }

  .story-time {
    font-size: .8em;

    table {
      border-spacing: 0;
      th {
        background-color: #e8ecef;
      }

      td:nth-of-type(2) {
        min-width: 90px;
      }
    }

    .legend {
      height: 1.2em;
      margin-right: 4px;
      padding-right: 12px;
    }

    .fa {
      font-size: 1.3em;
      padding-top: 3px;
      position: absolute;
      //top: 3px;
      right: 5px;
    }
  }

  .mouse-over-info {
    background-color: #fff;
    border: 1px solid darken($hashtag-blue, 25%);
    border-radius: $info-border-radius;
    padding: 5px;
    position: fixed;

    .date {
      font-weight: bold;
    }
  }
}

.stats-string {
  background-color: $stats-bg-color;
  bottom: 0;
  color: $stats-color;
  font-size: .9em;
  padding: 4px 20px 4px 30px;
  position: absolute;
  width: 100%;
  z-index: 111;

  .highlight {
    color: darken($orange, 10);
    font-weight: bold;
  }
}

.story-time {
  font-size: .8em;
  //background-color: white;
  padding-top: 4px;
  .legend {
    margin-right: 4px;
    padding-right: 12px;
  }

  .name {
    display: inline-block;
    margin-right: 5px;
    min-width: 80px;
  }

  div {
    cursor: pointer;
  }

  .selected {
    background-color: #ccc;
  }
}

.times-by-day {
  font-size: .8em;
  //background-color: white;
  padding-left: 2px;
  time {
    font-weight: bold;
  }
}

.expanded {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  .content {
    &.expanded {
      display: flex;
    }
    height: 80vh;
    left: 25vw;
    overflow-y: auto;
    padding: 1vh;
    position: fixed;
    right: 25vw;
    top: 80px;
    width: auto;
  }
}

.white {
  background-color: #fff;
}

.location-stats {
  .expand {
    .fa {
      float: right;
      padding: 4px;
    }
  }

  .row {
    display: flex;
  }

  table {
    padding: 0 3px;
  }

  .left-padding {
    padding-left: 30px;
  }

  .flag {
    font-size: 1.6em;
    padding: 0 3px;
    position: relative;
    vertical-align: bottom;
  }

  .cnt, .rank {
    padding-right: 3px;
    text-align: center;
  }

  .country {
  }
}

.award {
  align-items: center;
  display: flex;
  font-family: $header-font-family;
  font-size: $font-size-small;
  font-weight: bold;
  padding: 2px 3px;

  .fa-diamond {
    color: #ffd700;
    font-size: .8em;
    margin-right: 3px;
    position: relative;
    top: -2px;
  }

  .total {
    color: $green;
    margin-left: 5px;
    margin-right: 3px;
  }

  .claimed {
    color: #ffa500;
  }

  svg {
    height: 15px;
    padding: 2px 5px;
  }
}
