@import "variables.scss";

$chart-bg: white;
$completed: steelblue;
$total: lighten($completed, 30);

$completed-weekend: rgb(249, 166, 53);
$total-weekend: lighten($completed-weekend, 30);

$done: rgb(50, 159, 50);
$done-weekend: rgb(65, 189, 70);

$tasks: rgb(188, 30, 30);
$tasks-weekend: lighten($tasks, 30);

$closed: rgba(249, 166, 30, 0.8);
$closed-weekend: lighten($closed, 30);

$backlog: darkorange;
$backlog-weekend: lighten($backlog, 30);

.questionnaires {
  overflow-y: hidden;
  position: relative;

  .controls {
    position: absolute;
    right: 3px;
    bottom: 6px;
    z-index: 1111;

    input {
      font-size: $font-size-small;
      margin-right: 10px;
      padding: 2px 0 2px 4px;
      height: 14px;
      width: 38px!important;
      color: #999;
    }
    .fas {
      color: #BBB;
      font-size: $font-size-small;
      float: right;
      cursor: pointer;
      padding: 1px 4px;
      border-radius: 2px;
      margin-left: 2px;
      background-color: #EEE;
      &:hover {
        color: #999;
      }
      &:active {
        color: $hashtag-blue;
      }
    }
  }
  .done {
    fill: $done;
  }
  .done-weekend {
    fill: lighten($done, 25);
  }

  .failed {
    fill: $tasks;
  }
  .failed-weekend {
    fill: lighten($tasks, 25);
  }
}

.stats {
  height: 100%;
  overflow: auto;

  button {
    line-height: 0.8em;
    font-size: 0.8em;
  }

  .charts {
    display: flex;
    flex-flow: column;
  }

  svg {
    margin: 2px 0;
    background-color: $chart-bg;
    //width: 100%;

    text {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    rect:hover {
      opacity: 0.5;
    }

    .bar-bg {
      fill: rgba(0, 0, 0, 0)
    }
    .completed {
      fill: $completed;
    }
    .completed-weekend {
      fill: $completed-weekend;
    }
    .total {
      fill: $total;
    }
    .total-time {
      fill: $completed;
    }
    .total-time-weekend {
      fill: $completed-weekend;
    }
    .total-weekend {
      fill: $total-weekend;
    }
    .done {
      fill: $done;
    }
    .done-weekend {
      fill: $done-weekend;
    }
    .tasks {
      fill: $tasks;
    }
    .tasks-weekend {
      fill: $tasks-weekend;
    }
    .failed {
      fill: lighten($tasks, 30)
    }
    .failed-weekend {
      fill: lighten($tasks-weekend, 10)
    }
    .closed {
      fill: $closed;
    }
    .closed-weekend {
      fill: $closed-weekend;
    }
    .backlog {
      fill: $backlog;
    }
    .backlog-weekend {
      fill: $backlog-weekend;
    }
    .line {
      polyline {
        stroke-width: 4;
        fill: none;
      }
      circle {
        stroke-width: 1;
        fill: lightgrey;
      }
    }

    .lbm {
      opacity: 0.5;
      polyline {
        stroke: grey;
        stroke-width: 4;
        fill: none;
      }
      circle {
        stroke: grey;
        stroke-width: 1;
        fill: lightgrey;
      }
    }

    .weight {
      polyline {
        stroke: steelblue;
        stroke-width: 3;
        fill: none;
      }
      circle {
        stroke: steelblue;
        stroke-width: 1;
        fill: lightblue;
      }
    }

    .girth {
      polyline {
        stroke: $done;
        stroke-width: 3;
        fill: none;
      }
      circle {
        stroke: $done;
        stroke-width: 1;
        fill: lighten($done, 20);
      }
    }
  }

  .story-time {
    font-size: 0.8em;

    table {
      border-spacing: 0;
      th {
        background-color: #e8ecef;
      }
      td:nth-of-type(2) {
        min-width: 90px;
      }
    }
    .legend {
      padding-right: 12px;
      margin-right: 4px;
      height: 1.2em;
    }
    .fa {
      position: absolute;
      font-size: 1.3em;
      padding-top: 3px;
      //top: 3px;
      right: 5px;
    }
  }

  .mouse-over-info {
    padding: 5px;
    background-color: white;
    border: 1px solid darken($hashtag-blue, 25%);
    border-radius: $info-border-radius;
    position: fixed;

    .date {
      font-weight: bold;
    }
  }
}

.stats-string {
  background-color: $stats-bg-color;
  color: $stats-color;
  font-size: 0.9em;
  height: 20px;
  padding: 4px 20px 4px 30px;
  position: absolute;
  bottom: 0;
  width: 100%;

  .highlight {
    font-weight: bold;
    color: darken($orange, 10);
  }
}

.story-time {
  padding-top: 4px;
  //background-color: white;
  font-size: 0.8em;
  .legend {
    padding-right: 12px;
    margin-right: 4px;
  }
  .name {
    min-width: 80px;
    margin-right: 5px;
    display: inline-block;
  }
  div {
    cursor: pointer;
  }
  .selected {
    background-color: #CCC;
  }
}

.times-by-day {
  padding-left: 2px;
  //background-color: white;
  font-size: 0.8em;
  time {
    font-weight: bold;
  }
}

.expanded {
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;

  .content {
    &.expanded {
      display: flex;
    }
    padding: 1vh;
    position: fixed;
    top: 80px;
    left: 25vw;
    right: 25vw;
    width: auto;
    height: 80vh;
    overflow-y: auto;
  }
}

.white {
  background-color: white;
}

.location-stats {
  .expand {
    .fa {
      padding: 4px;
      float: right;
    }
  }
  .row {
    display: flex;
  }
  table {
    padding: 0 3px;
  }
  .left-padding {
    padding-left: 30px;
  }
  .flag {
    font-size: 1.6em;
    padding: 0 3px;
    position: relative;
    vertical-align: bottom;
  }
  .cnt, .rank {
    text-align: center;
    padding-right: 3px;
  }
  .country {
  }
}

.award {
  display: flex;
  align-items: center;
  padding: 2px 3px;
  font-weight: bold;
  font-family: $header-font-family;
  font-size: $font-size-small;

  .fa-diamond {
    font-size: 0.8em;
    margin-right: 3px;
    top: -2px;
    color: gold;
    position: relative;
  }

  .total {
    color: $green;
    margin-left: 5px;
    margin-right: 3px;
  }
  .claimed {
    color: orange;
  }

  svg {
    padding: 2px 5px;
    height: 15px;
  }
}
