@import "variables.scss";

$chart-bg: white;
$completed: steelblue;
$total: lighten($completed, 30);

$completed-weekend: rgb(249, 166, 53);
$total-weekend: lighten($completed-weekend, 30);

$done: rgb(50, 159, 50);
$done-weekend: lighten($done, 30);

$tasks: rgb(188, 30, 30);
$tasks-weekend: lighten($tasks, 30);

$closed: rgba(249, 166, 30, 0.8);
$closed-weekend: lighten($closed, 30);

$backlog: DarkOrange;
$backlog-weekend: lighten($backlog, 30);

$activity: steelblue;
$activity-weekend: lighten($activity, 30);

.stats {
  height: 100%;
  overflow: auto;

  button {
    line-height: 0.8em;
    font-size: 0.8em;
  }

  .charts {
    display: flex;
    flex-flow: column;
  }

  svg {
    margin: 2px 0;
    background-color: $chart-bg;
    width: 100%;

    text {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    rect:hover {
      opacity: 0.5;
    }

    .bar-bg {
      fill: rgba(0, 0, 0, 0)
    }
    .completed {
      fill: $completed;
    }
    .completed-weekend {
      fill: $completed-weekend;
    }
    .total {
      fill: $total;
    }
    .total-time {
      fill: $completed;
    }
    .total-time-weekend {
      fill: $completed-weekend;
    }
    .total-weekend {
      fill: $total-weekend;
    }
    .done {
      fill: $done;
    }
    .done-weekend {
      fill: $done-weekend;
    }
    .tasks {
      fill: $tasks;
    }
    .tasks-weekend {
      fill: $tasks-weekend;
    }
    .failed {
      fill: lighten($tasks, 30)
    }
    .failed-weekend {
      fill: lighten($tasks-weekend, 10)
    }
    .closed {
      fill: $closed;
    }
    .closed-weekend {
      fill: $closed-weekend;
    }
    .backlog {
      fill: $backlog;
    }
    .backlog-weekend {
      fill: $backlog-weekend;
    }
    .activity {
      fill: $activity;
    }
    .activity-weekend {
      fill: $activity-weekend;
    }

    .line {
      polyline {
        stroke-width: 4;
        fill: none;
      }
      circle {
        stroke-width: 1;
        fill: lightgrey;
      }
    }

    .lbm {
      opacity: 0.5;
      polyline {
        stroke: grey;
        stroke-width: 4;
        fill: none;
      }
      circle {
        stroke: grey;
        stroke-width: 1;
        fill: lightgrey;
      }
    }

    .weight {
      polyline {
        stroke: steelblue;
        stroke-width: 3;
        fill: none;
      }
      circle {
        stroke: steelblue;
        stroke-width: 1;
        fill: lightblue;
      }
    }

    .girth {
      polyline {
        stroke: $done;
        stroke-width: 3;
        fill: none;
      }
      circle {
        stroke: $done;
        stroke-width: 1;
        fill: lighten($done, 20);
      }
    }
  }

  .story-time {
    background-color: white;
    font-size: 0.8em;
    .legend {
      padding-right: 12px;
      margin-right: 4px;
    }
  }

  .mouse-over-info {
    padding: 5px;
    background-color: white;
    border: 1px solid darken($hashtag-blue, 25%);
    border-radius: $info-border-radius;
    position: fixed;

    .date {
      font-weight: bold;
    }
  }
}

.stats-string {
  background-color: $stats-bg-color;
  color: $tab-bg;
}

.story-time {
  padding-top: 2px;
  background-color: white;
  font-size: 0.8em;
  .legend {
    padding-right: 12px;
    margin-right: 4px;
  }
  .name {
    min-width: 80px;
    margin-right: 5px;
    display: inline-block;
  }
  div {
    cursor: pointer;
  }
  .selected {
    background-color: #CCC;
  }
}

.times-by-day {
  padding-left: 2px;
  background-color: white;
  time {
    font-size: 0.8em;
    font-weight: bold;
  }
}
