@import "variables.scss";

$chart-bg: white;
$completed: steelblue;
$total: lighten($completed, 30);

$completed-weekend: rgb(249, 166, 53);
$total-weekend: lighten($completed-weekend, 30);

$done: rgb(50, 159, 50);
$done-weekend: lighten($done, 30);

$tasks: rgb(188, 30, 30);
$tasks-weekend: lighten($tasks, 30);

$closed: rgba(249, 166, 30, 0.8);
$closed-weekend: lighten($closed, 30);

$backlog: DarkOrange;
$backlog-weekend: lighten($backlog, 30);

.stats {
  height: 100%;
  overflow: auto;

  button {
    line-height: 0.8em;
    font-size: 0.8em;
  }

  .charts {
    display: flex;
    flex-flow: column;
  }

  svg {
    margin: 2px 0;
    background-color: $chart-bg;
    width: 100%;

    text {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    rect:hover {
      opacity: 0.5;
    }

    .bar-bg {
      fill: rgba(0, 0, 0, 0)
    }
    .completed {
      fill: $completed;
    }
    .completed-weekend {
      fill: $completed-weekend;
    }
    .total {
      fill: $total;
    }
    .total-time {
      fill: $completed;
    }
    .total-time-weekend {
      fill: $completed-weekend;
    }
    .total-weekend {
      fill: $total-weekend;
    }
    .done {
      fill: $done;
    }
    .done-weekend {
      fill: $done-weekend;
    }
    .tasks {
      fill: $tasks;
    }
    .tasks-weekend {
      fill: $tasks-weekend;
    }
    .failed {
      fill: lighten($tasks, 30)
    }
    .failed-weekend {
      fill: lighten($tasks-weekend, 10)
    }
    .closed {
      fill: $closed;
    }
    .closed-weekend {
      fill: $closed-weekend;
    }
    .backlog {
      fill: $backlog;
    }
    .backlog-weekend {
      fill: $backlog-weekend;
    }
    .line {
      polyline {
        stroke-width: 4;
        fill: none;
      }
      circle {
        stroke-width: 1;
        fill: lightgrey;
      }
    }

    .lbm {
      opacity: 0.5;
      polyline {
        stroke: grey;
        stroke-width: 4;
        fill: none;
      }
      circle {
        stroke: grey;
        stroke-width: 1;
        fill: lightgrey;
      }
    }

    .weight {
      polyline {
        stroke: steelblue;
        stroke-width: 3;
        fill: none;
      }
      circle {
        stroke: steelblue;
        stroke-width: 1;
        fill: lightblue;
      }
    }

    .girth {
      polyline {
        stroke: $done;
        stroke-width: 3;
        fill: none;
      }
      circle {
        stroke: $done;
        stroke-width: 1;
        fill: lighten($done, 20);
      }
    }
  }

  .story-time {
    font-size: 0.8em;

    table {
      border-spacing: 0;
      th {
        background-color: #e8ecef;
      }
      td:nth-of-type(2) {
        min-width: 90px;
      }
    }
    .legend {
      padding-right: 12px;
      margin-right: 4px;
      height: 1.2em;
    }
    .fa {
      position: absolute;
      font-size: 1.3em;
      padding-top: 3px;
      //top: 3px;
      right: 5px;
    }
  }

  .mouse-over-info {
    padding: 5px;
    background-color: white;
    border: 1px solid darken($hashtag-blue, 25%);
    border-radius: $info-border-radius;
    position: fixed;

    .date {
      font-weight: bold;
    }
  }
}

.stats-string {
  background-color: $stats-bg-color;
  color: $tab-bg;
  padding: 2px;
}

.story-time {
  padding-top: 4px;
  //background-color: white;
  font-size: 0.8em;
  .legend {
    padding-right: 12px;
    margin-right: 4px;
  }
  .name {
    min-width: 80px;
    margin-right: 5px;
    display: inline-block;
  }
  div {
    cursor: pointer;
  }
  .selected {
    background-color: #CCC;
  }
}

.times-by-day {
  padding-left: 2px;
  //background-color: white;
  font-size: 0.8em;
  time {
    font-weight: bold;
  }
}

.expanded {
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;

  .content {
    padding: 1vh;
    position: fixed;
    top: 80px;
    left: 25vw;
    right: 25vw;
    width: auto;
    height: 80vh;
    overflow-y: auto;
  }
}

.white {
  background-color: white;
}

.location-stats {
  background-color: white;
  font-size: 1.6em;
  .flag {
    padding-left: 4px;
  }
  .cnt {
    padding-left: 5px;
    position: relative;
    top: -3px;
    font-size: 0.7em;
  }
}

.award {
  background-color: white;
  padding: 5px;
  text-align: center;

  .points {
    font-size: 2em;
    font-weight: bold;

    .fa {
      font-size: 0.8em;
      top: -2px;
      left: -5px;
      position: relative;
    }
  }

  .total {
    font-size: 1em;
    color: $green;
    margin-right: 0.6em;
  }
  .claimed {
    font-size: 1em;
    color: $red;
  }

  svg {
    padding: 4px;
    height: 30px;
  }
}
