@import "variables.scss";

.story-edit-field {
  display: flex;
  flex-grow: 1;
  padding: 4px;
  height: 2em;
  background-color: $search-field-color;
}

.story {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  font-size: 0.6em;
  color: #5d7186;

  .name {
    padding-right: 1em;
  }

  label {
    font-weight: bold;
    padding: 4px 0;
  }

  .stories {
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-size: 2em;
    position: relative;
  }

  .story-list {
    position: absolute;
    background-color: white;
    z-index: 1002;
    padding: 2px 4px 4px 4px;
    white-space: nowrap;
    border: #BBB 1px solid;
  }
}

.story-select {
  position: relative;

  i {
    margin-right: 3px;
    opacity: 0.5;
    padding: 1px;

    &.show {
      cursor: none;
    }
    &.predicted {
      background-color: lightgreen;
      color: black;
    }
  }

  &:hover {
    i {
      opacity: 1;
    }
  }

  .story-search {
    position: absolute;
    background-color: white;
    z-index: 1002;
    padding: 4px 0 10px 6px;
    white-space: nowrap;
    border: lighten($hashtag-blue, 20%) 1px solid;
    font-size: 0.8em;

    tr:nth-child(even) {
      background-color: lighten($hashtag-blue, 40%);
    }

    tr {
      cursor: pointer;

      .current {
        background-color: lighten($hashtag-blue, 10%);
      }
    }

    input {
      width: 100px;
      outline: none;
      margin-right: 10px;
    }

    i {
      font-size: 8px;
      padding: 0 4px;
      color: black;
      opacity: 1;
    }
  }
}