@import "variables.scss";

.story-edit-field {
  padding: 4px 6px;
  height: 2em;
  background-color: $search-field-color;
  font-size: 12px;
  font-family: $header-font-family;
  display: inline-block;
  min-width: 200px;
  margin-bottom: 20px;
}

.story {
  font-family: $header-font-family;
  font-size: 12px;
  color: #5d7186;

  .row {
    display: flex;
    margin-bottom: 8px;
  }

  &.story-name {
    font-size: 14px;
    font-weight: normal;
    display: flex;
    cursor: pointer;
    i {
      margin-right: 6px;
    }
    span {
      &:hover {
        color: $link-color;
      }
    }
  }

  label {
    display: inline-block;
    width: 60px;
  }

  h3 {
    font-size: 12px;
  }

  .saga {
    select {
      min-width: 200px;
      margin: 10px 0 20px 0;
    }

    .fa-toggle-on {
      color: $green;
    }
  }
  .name {
    padding-right: 1em;
  }

  label {
    font-weight: bold;
    padding: 4px 0;
  }

  .stories {
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-size: 2em;
    position: relative;
  }

  .story-list {
    position: absolute;
    background-color: white;
    z-index: 1002;
    padding: 2px 4px 4px 4px;
    white-space: nowrap;
    border: #BBB 1px solid;
  }
}

.story-select {
  position: relative;

  i {
    margin-right: 3px;
    padding: 1px;

    &.show {
      cursor: none;
    }
    &.predicted {
      background-color: lightgreen;
      color: black;
    }
    &:hover {
      color: $link-color;
    }
  }

  .story-search {
    position: absolute;
    background-color: white;
    top: 0;

    z-index: 1002;
    padding: 4px 0 10px 6px;
    white-space: nowrap;
    border: #aaa 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #AAA;
    font-size: 0.8em;

    table {
      max-width: 260px;
    }

    tr:nth-child(even) {
      background-color: lighten($hashtag-blue, 40%);
    }

    tr {
      cursor: pointer;

      td {
        min-width: 115px;
        padding-left: 2px;
      }
      .current {
        background-color: lighten($hashtag-blue, 10%);
      }
      .idx {
        background-color: lighten($orange, 30%);
      }
    }

    input {
      width: 100px;
      outline: none;
      margin-right: 10px;
      background-color: #EEE;
      border: none;
      box-shadow: none;
      padding: 0 6px;
      margin-bottom: 5px;
    }

    i {
      font-size: 12px;
      font-weight: bold;
      padding: 0 4px;
      opacity: 1;
      color: #777;
    }
  }
}