@import 'variables.scss';

.story-edit-field {
  background-color: $search-field-color;
  display: inline-block;
  font-family: $header-font-family;
  font-size: 12px;
  height: 2em;
  margin-bottom: 20px;
  min-width: 200px;
  padding: 4px 6px;
}

.story {
  color: #5d7186;
  font-family: $header-font-family;
  font-size: 12px;

  .row {
    display: flex;
    margin-bottom: 8px;
  }

  &.story-name {
    border-radius: $entry-border-radius;
    cursor: pointer;
    display: flex;
    font-size: $font-size-medium;
    font-weight: normal;
    margin-bottom: 4px;
    padding: 2px 4px;

    i {
      margin-right: 6px;
    }

    span {
      &:hover {
        color: $link-color;
      }
    }
  }

  .badge {
    text-align: center;
    .story-badge {
      border-radius: $entry-border-radius;
      display: inline-block;
      font-size: $header-font-family;
      font-weight: bold;
      margin: 12px 0 20px 12px;
      padding: 8px 12px;
    }
  }


  label {
    display: inline-block;
    width: 60px;
  }

  h3 {
    font-size: 12px;
  }

  .saga {
    select {
      margin: 10px 0 20px 0;
      min-width: 200px;
    }

    .fa-toggle-on {
      color: $green;
    }
  }

  .name {
    padding-right: 1em;
  }

  label {
    font-weight: bold;
    padding: 4px 0;
  }

  .stories {
    font-size: 2em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    position: relative;
  }

  .story-list {
    background-color: #fff;
    border: #bbb 1px solid;
    padding: 2px 4px 4px 4px;
    position: absolute;
    white-space: nowrap;
    z-index: 1002;
  }
}

.story-select {
  position: relative;

  i {
    margin-right: 3px;
    padding: 1px;

    &.show {
      cursor: none;
    }

    &.predicted {
      background-color: #90ee90;
      color: #000;
    }

    &:hover {
      color: $link-color;
    }
  }

  .story-search {
    background-color: #fff;
    border: #aaa 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #aaa;
    font-size: .8em;
    padding: 4px 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    z-index: 1002;

    table {
      border-spacing: 0;
      font-size: $font-size-small;
      max-width: 260px;
    }

    tr:nth-child(even) {
      background-color: lighten($hashtag-blue, 40%);
    }

    tr {
      cursor: pointer;

      td {
        min-width: 115px;
        padding: 1px 8px;
      }

      .current {
        background-color: lighten($hashtag-blue, 10%);
      }

      .idx {
        background-color: lighten($orange, 30%);
      }
    }

    input {
      background-color: #eee;
      border: 0;
      box-shadow: none;
      margin-bottom: 5px;
      margin-right: 10px;
      outline: none;
      padding: 0 6px;
      width: 100px;
    }

    i {
      color: #777;
      font-size: 12px;
      font-weight: bold;
      opacity: 1;
      padding: 0 4px;
    }
  }
}
