@import "variables.scss";

.hashtags {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.hashtag, .mention {
  margin: 2px;
  padding: 2px 3px;
  color: white;
  font-size: 0.7em;
  background-color: $hashtag-blue;
  white-space: nowrap;
  cursor: pointer;
}

.not-tag {
  background-color: $not-tag;
}

.suggestions {
  margin-bottom: 0.5em;
  line-height: 1.4em;
  position: relative;
  display: inline-block;
}

.suggestions-list {
  position: absolute;
  top: -4px;
  background-color: white;
  z-index: 1002;
  padding: 2px 0 4px 4px;
  white-space: nowrap;
  border: #BBB 1px solid;
}

.mention {
  background-color: $mention-color;
}
