@import 'variables.scss';

.hashtags {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.hashtag, .mention {
  background-color: $hashtag-blue;
  color: #fff;
  cursor: pointer;
  font-size: 0.7em;
  margin: 2px;
  padding: 2px 3px;
  white-space: nowrap;
}

.not-tag {
  background-color: $not-tag;
}

.suggestions {
  display: inline-block;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  position: relative;
}

.suggestions-list {
  background-color: #fff;
  border: #bbb 1px solid;
  padding: 2px 0 4px 4px;
  position: absolute;
  top: -4px;
  white-space: nowrap;
  z-index: 1002;
}

.mention {
  background-color: $mention-color;
}
