
.task-details {

  h3 {
    margin-left: 76px;
  }

  .row {
    align-items: center;
    display: flex;
    margin: 8px 0;
  }

  label {
    color: #666;
    display: inline-block;
    font-family: $header-font-family;
    font-size: $font-size-small;
    font-weight: lighter;
    margin-right: 6px;
    text-align: end;
    width: 90px;
  }

  .details {
    margin: 6px 0;
  }


}

.linked-tasks {
  margin-top: 2px;
  padding-bottom: 10px;

  .checked {
    color: $green;
    padding-left: 3px;
    i {
      font-size: 1.2em;
    }

    .fa-times {
      color: $red;
    }
  }
}
