@import 'variables.scss';

.on-off, .on-off2 {
  background-color: #ccc;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  user-select: none;
  width: 60px;

  div {
    color: #666;
    text-align: center;
    width: 30px;
  }

  .active {
    background-color: $green;
    border: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
  }

  .inactive {
    background-color: $hashtag-blue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    color: #fff;
  }
}

.on-off2 {
  font-size: $font-size-small;
  font-weight: lighter;
  height: 12px;
  line-height: $font-size-small;
  width: 36px;

  div {
    width: 18px;
  }
}
