@import "oswald";

$font-color: #576364;
$font-family: "Lato", sans-serif;
$header-font-family: "Oswald", "Lato", sans-serif;
$green: #4CAF50;
$red: rgb(202, 60, 60);
$hashtag-blue: rgb(66, 184, 221);
$info-border-radius: 0.3em;
$mention-color: rgb(55, 201, 154);
$search-field-color: rgb(252, 252, 252);
$entry-bg: rgb(252, 252, 252);
$edit-menu-bg: rgb(220, 220, 220);
$delete-warning: rgb(202, 60, 60);
$show-more: #1f8dd6;
$not-tag: rgb(221, 77, 55);
$menu-bg: rgb(30, 30, 30);
$body-background-color: rgb(40, 40, 40);
$stats-bg-color: $menu-bg;
$stats-color: rgb(120, 120, 120);
$toggle-btn: #576364;
$link-color: #006c91;
$menu-new-btn: #0078e7;
$mention-link: #007d4e;
$tab-bg: rgb(50, 50, 50);
