@import "variables";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900|Oswald:400,500,600');
body {
  background-color: white;
  margin-top: 12px;
  height: calc(100vh - 22px);
  width: 100%;
  color: $font-color;
  font-size: $font-size-large;
  line-height: 1.3em;
  font-weight: 300;
  font-family: $font-family;

  overflow-y: scroll;
  overflow-x: hidden;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', SansSerif;
    font-weight: 500;
    margin-bottom: 0.5em;

    strong {
      font-weight: 500;
    };
  }

  h1 {
    margin-bottom: 25px;
    font-weight: 100;
  }
  strong {
    font-weight: bold;
  }
  img {
    max-width: 90vw;
    width: auto;
    max-height: 50vh;
  }

  .md {
    padding: 8px 32px;
  }


}