@import "variables.scss";

body {
  color: $font-color;
  background-color: $body-background-color;
  font-size: 12px;
  font-weight: 300;
  font-family: $font-family;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

/* Overwrite the default to keep the scrollbar always visible.
   From: http://simurai.com/blog/2011/07/26/webkit-scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.cal-container {
  display: flex;
  flex-flow: column;
  height: 100%;

  .rome {
    font-size: $font-size-cal;
  }
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

i {
  &.fa {
    color: $fa-color;
    font-weight: 300;
  }
}

.loader {
  -webkit-app-region: drag;
  width: 100%;
  height: 100%;
  user-select: none;
  padding-top: 30vh;

  .content {
    color: white;
    width: 500px;
    margin: 0 auto auto auto;

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    // adapted from https://css-tricks.com/css3-progress-bars/
    .meter {
      height: 20px;
      position: relative;
      background: $body-background-color;
      border-radius: 6px;
      padding: 4px;
    }

    .meter > span {
      display: block;
      height: 100%;
      border-radius: 4px;
      background-color: $green;
      position: relative;
      overflow: hidden;
    }
  }
}

@import "buttons.scss";
@import "journal.scss";
@import "entry.scss";
@import "story.scss";
@import "tags.scss";
@import "newlink.scss";
@import "media.scss";
@import "menu.scss";
@import "search.scss";
@import "config.scss";
@import "stats.scss";
@import "grid.scss";
@import "pikaday.scss";
@import "calendar.scss";
@import "carousel.scss";
@import "datepicker.scss";
@import "editor.scss";
@import "rome.scss";
