@import "variables";

body {
  color: $font-color;
  background-color: $body-background-color;
  font-size: 12px;
  font-weight: 300;
  font-family: $font-family;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  outline: 1px solid transparent;
}

[draggable=true] {
  cursor: default;
}

.drag {
  cursor: -webkit-grab;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100vh;

  .error {
    margin: 50px;
    i {
      margin-right: 10px;
      color: orangered;
    }
    h1 {
      font-size: 3em;
    }
  }
}

/* Overwrite the default to keep the scrollbar always visible.
   From: http://simurai.com/blog/2011/07/26/webkit-scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.cal-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

i {
  &.fa {
    color: $fa-color;
    font-weight: 300;
  }
}

.loader {
  -webkit-app-region: drag;
  width: 100%;
  height: 100vh;
  user-select: none;
  background-color: #334;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("../images/startscreen_meins.png");

  .content {
    color: white;
    width: 500px;
    margin: 0 auto auto auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    h1 {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 20px;
    }

    // adapted from https://css-tricks.com/css3-progress-bars/
    .meter {
      height: 20px;
      width: 100%;
      position: relative;
      background: $body-background-color;
      border-radius: 6px;
      padding: 4px;
      margin-top: 30px;
    }

    .meter > span {
      display: block;
      height: 100%;
      border-radius: 4px;
      background-color: darken($orange, 15);
      position: relative;
      overflow: hidden;
    }
  }
}

// From https://www.w3schools.com/css/css_tooltip.asp
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 102px;
  background-color: #FAFAFA;
  color: #333;
  text-align: left;
  padding: 6px 9px;
  border-radius: 2px;
  font-size: $font-size-medium;
  margin-top: 5px;
  border: 1px solid #AAA;
  box-shadow: 0 0 2px #AAA;

  h4 {
    font-family: $header-font-family;
    margin-bottom: 4px;
    margin-top: 3px;
    white-space: nowrap;
  }

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 2000;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.leaflet {
  height: 130px;
}

@import "buttons";
@import "journal";
@import "tasks";
@import "habits";
@import "entry";
@import "briefing";
@import "story";
@import "tags";
@import "newlink";
@import "media";
@import "menu";
@import "conflict";
@import "search";
@import "config";
@import "stats";
@import "grid";
@import "cf_hashtag";
@import "spotify";
@import "dashboard";
@import "calendar";
@import "carousel";
@import "datepicker";
@import "editor";
@import "focus";
@import "mapbox-gl";
@import "edn";
@import "problem";
@import "post-mortem";
@import "infinite-cal";
@import "ui-components";
@import "questionnaire";
@import "quill-snow";
@import "integrated-updater";
